<div class="blogs-container">
    <app-navbar2></app-navbar2>
    <div class="blog-content-col">
      <div class="row1" >
        <div class="loop" *ngFor="let blog of singleBlog">
          <h2>{{blog.heading}}</h2>
          <img src="{{blog.image}}" alt="cake image">
          <p>{{blog.created_at | date}}</p>
          <h4>{{blog.text}}</h4>
          <h4>{{blog.tex2}}</h4>
          <h4>{{blog.text3}}</h4>
      </div>
      </div>
      <div class="row2">
        <p class="welcome">welcome</p>
        <img src="../../../assets/images/about-page/SA_portfolio.jpg" alt="lady image">
        <div class="social-links">
          <ul class="links">
            <li><i class="fa-brands fa-instagram"></i></li>
            <li><i class="fa-brands fa-facebook-f"></i></li>
            <li><i class="fa-brands fa-linkedin"></i></li>
          </ul>
        </div>
        <p class="cats">CATEGORIES</p>
        <div class="categories" *ngFor="let cat of blogsCategory">
          <p><a class="p" [routerLink]="['/blogs/category-blogs/',cat.id]">{{cat.name}}</a></p>
        </div>
      </div>
  
    </div>  
    <app-enquiry-button></app-enquiry-button>
    <app-instagram-content></app-instagram-content>
  </div>
  <app-footer></app-footer>
  