<div class="container" >
    <h3 class="text-center medical">Blog Details Page</h3>
    <div class="row  blog-deets" *ngIf="singleBlog">
        <div class="col">
            <div class="product__details--media">
                <div class="product__media--preview  swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product__media--preview__items">
                                <a class="product__media--preview__items--link glightbox" data-gallery="product-media-preview" href="{{ singleBlog[0].image }}"><img class="product__media--preview__items--img" src="{{ singleBlog[0].image }}" alt="product-media-img"></a>
                                <div class="product__media--view__icon">
                                    <a class="product__media--view__icon--link glightbox" href="{{ singleBlog[0].image}}" data-gallery="product-media-preview">
                                        <svg class="product__media--view__icon--svg" xmlns="http://www.w3.org/2000/svg" width="22.51" height="22.443" viewBox="0 0 512 512"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="product__details--info">
                <form action="#">
                    <h2 class="product__details--info__title mb-15">{{ singleBlog[0].heading }}</h2>
                    <p  class="cat-name"><i class="fa-solid fa-calendar-days"></i> {{ singleBlog[0].created_at | date}}</p>
                    <p class="product__details--info__desc mb-15">{{ singleBlog[0].text }}</p>
                    <p class="product__details--info__desc mb-15">{{ singleBlog[0].tex2 }}</p>
                    <p class="product__details--info__desc mb-15">{{ singleBlog[0].text3 }}</p>
                </form>
                <div class="buttons">
                    <a routerLink="/blogs" class="back-blogs btn">Back to Blogs</a>
                </div>
            </div>
        </div>
    </div>
</div>