<div class="cont">
<div class="product-page medical">
    <div class="category-section">
        <div class="categories">
            <h3 class="text-center">Shop by Categories</h3>
            <hr>
            <ul class="categoriess" *ngFor="let cat of cats">
                <li class="cats" ><a [routerLink]="['/shop/category-products/',cat.id]" class="cattss" >{{ cat.name | uppercase}}</a></li>
            </ul>
        </div>
        <div class="filter">
            <h3 class="text-center">Filter by Price</h3>
            <hr>
            <ul class="categoriess" *ngFor="let cat of cats">
                <li class="cats" ><a [routerLink]="['/shop/category-products/',cat.id]" class="cattss" >{{ cat.name | uppercase}}</a></li>
            </ul>
        </div>
    </div>
    <div class="back">
        <div class="top">
            <img src="https://img.freepik.com/premium-vector/cyber-monday-banner-discount-sale-background_549149-169.jpg?w=826" alt="">
        </div>
        <div class="products">
            <div class="card"  *ngFor="let product of products | paginate: { itemsPerPage:itemscount, currentPage:page, totalItems:count};let i = index" >
                <div class="product__items ">
                    <div class="product__items--thumbnail">
                        <a [routerLink]="['/shop/product-details/',product.id]" class="product__items--link" >
                            <img class="product__items--img product__primary--img" src="{{ product.image }}" alt="product-img">
                            <img class="product__items--img product__secondary--img" src="{{ product.image2 }}" alt="product-img">
                        </a>
                        <div class="product__badge">
                            <span class="product__badge--items sale">Sale</span>
                        </div>
                    </div>
                </div>
    
                <div class="details">
                    <p class="cat-name">{{ product.category_name | titlecase}}</p>
                    <a [routerLink]="['/shop/product-details/',product.id]" class="product-name">{{ product.name | titlecase}}</a>
                    <div class="price-tag">
                        <p class="new-price">Kes {{ product.new_price}}</p>
                        <span>-</span>
                        <p class="old-price">Kes {{ product.old_price }}</p>
                    </div>
                    <button (click)="openWhatsApp(i)"  class="whatsapp btn"><i class="fa-brands fa-whatsapp"></i> Buy Via Whatsapp</button>
                </div>
            </div> 
        </div>
    </div>
</div>

</div>