.about-text{
    font-family: 'add light italic';
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: capitalize;
    padding-top: 300px;
    padding-right: 500px;
    padding-bottom: 100px;
    border: 25px #fff solid;
    background-color: rgb(0, 0, 0, .4);
}
 .about-text p{
    color: #fff;
 }
.section2-about{
    background-color:  #f8ebcf;
    display: flex;
    width: 100%;
    padding: 0 5%;
}
.sec2-image{
    width: 40%;
    margin-left: 8%;
}
.sec2-image img{
    height: 80vh;
    margin-top: 10%;
    border: 12px solid #fff ;
    margin-bottom: -40%;
}
.sec2-texts{
    text-align: justify;
    font-family: 'add light';
    width: 60%;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 1.12px;
    padding-top: 200px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 30px;
}
.story{
    background-color: #fff;
    display: flex;
    padding: 10% 10%;
    width: 100%;
}
.story-text{
    background-color: #FFEBC1;
    width: 60%;
    padding: 5%;
}

.story-text .p{
    margin-right: 3%;
}

.story-text h1{
    font-family: 'add';
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
}
.story-text h5{
    font-family: 'add light italic';
    font-size: 16px;
    padding-top: 25px;
    line-height: 28.8px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 3.2px;
}

.story-image{
    width: 40%;
}
.story-image img{
    width: 100%;
    height: 80vh;
    margin-left: -10%;
    margin-top: -20%;
    margin-bottom: 10%;
}
.fourth{
    display: flex;
    width: 100%;
    padding: 0 10%;
    background-color:  #f8ebcf;
}

.east{
    width: 40%;
    align-items: right;
}

.east img{
    width: 80%;
    height: 65vh;
    margin-top: -5%;
    margin-left: 5%;
}

.west{
    width: 60%;
    padding: 80px 0px;
}

.p{
    margin-top: 20px;
    line-height: 28px;
    font-size: 16px;
    letter-spacing: 1.12px;
    text-align: justify;
    font-family: "Add light";

}

.fifth{
    display: flex;
    background-color: #ffffff;
    width: 100%;
    padding: 5% 10% 0 10%;
}

.eastt{
    width: 60%;
    padding: 80px 30px;
    background-color: #FFEBC1;
}

.westt{
    width: 40%;
    margin-left: 5%;
}

.westt img{
    width: 90%;
    height: 75vh;
    border: 12px solid #ffffff;
    margin-bottom: -25%;
}

.sixth{
    width: 100%;
    display: flex;
    padding: 5% 10%;
    background-color: #ffffff;
}

.eas{
    width: 50%;
}

.eas img{
    border: 12px solid #ffffff;
    width: 100%;
}

.wes{
    background-color: #f8ebcf;
    width: 50%;
    padding: 80px 30px;
    margin-left: 20px;

}

.wes .a-btn{
    margin-top: 10%;
}


.btn-exp{
    background-color: #D7A86E;
    padding: 20px 15px;
    line-height: 28.8px;
    font-size: 18px;
    letter-spacing: 2.6px;
    text-align: center;
    font-family: "Add light italic";
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    margin-left: 30%;
}

@media only screen and (max-width:850px) {

    .about-text{
        font-family: 'add light italic';
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 4px;
        text-align: center;
        text-transform: capitalize;
        padding-top: 300px;
        padding-right: 450px;
        color: #fff;
        padding-bottom: 50px;
        border: 15px #fff solid;
        background: rgb(0, 0, 0, .4);
    }
    
    .section2-about{
        background-color: rgb(243, 224, 227);
        display: flex;
        width: 100%;
        padding: 0 5%;
    }
    .sec2-image{
        width: 40%;
        margin-left: 0;
    }
    .sec2-image img{
        height: 35vh;
        width: 33vw;
        border: 12px solid #fff ;
        margin-top: 20%;
        margin-bottom: -50%;
    }
    .sec2-texts{
        text-align: justify;
        font-family: 'add light';
        width: 60%;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 1.12px;
        padding-top: 100px;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 30px;
    }
    .p{
        margin-top: 20px;
        line-height: 18px;
        font-size: 12px;
        letter-spacing: 1.12px;
        text-align: justify;
        font-family: "Add light";
    }
    .story{
        background-color: #fff;
        display: flex;
        padding: 10% 2%;
        width: 100%;
    }
    .story-text{
        background-color: rgb(228, 215, 218);
        width: 60%;
        padding: 5%;
    }
    
    .story-text .p{
        margin-right: 3%;
    }
    
    .story-text h1{
        font-family: 'add';
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 4px;
        text-align: center;
        text-transform: uppercase;
    }
    .story-text h5{
        font-family: 'add light italic';
        font-size: 16px;
        padding-top: 25px;
        line-height: 28.8px;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 3.2px;
    }
    
    .story-image{
        width: 40%;
    }
    .story-image img{
        width: 100%;
        height: 40vh;
        margin-left: -10%;
        margin-top: -20%;
        margin-bottom: 10%;
    }

    .fourth{
        display: flex;
        width: 100%;
        padding: 0 5%;
        background-color: #f5f0ef;
    }
    
    .east{
        width: 40%;
        align-items: left;
    }
    
    .east img{
        width: 80%;
        height: 30vh;
        margin-top: -10%;
        margin-bottom: 5%;
        margin-left: 0;
    }
    
    .west{
        width: 60%;
        padding: 30px 0;
    }
    .fifth{
        display: flex;
        background-color: #ffffff;
        width: 100%;
        padding: 5% 10% 0 10%;
    }
    
    .eastt{
        width: 60%;
        padding: 30px 0;
    }
    
    .westt{
        width: 40%;
        margin-left: 5%;
    }
    
    .westt img{
        width: 100%;
        height: 35vh;
        border: 12px solid #ffffff;
        margin-bottom: -15%;
        margin-top: 5%;
    }

    .sixth{
        width: 100%;
        display: flex;
        padding: 5% 10%;
        background-color: #f5f0ef;
    }
    
    .eas{
        width: 50%;
    }
    
    .eas img{
        border: 12px solid #ffffff;
        width: 100%;
        height: 20vh;
    }
    
    .wes{
        width: 50%;
        padding: 30px 0;
        margin-left: 20px;
    }
    
    .wes .a-btn{
        margin-top: 20%;
    }
    
    
    .btn-exp{
        background-color: #a5a6a7;
        padding: 20px 15px;
        line-height: 28.8px;
        font-size: 12px;
        letter-spacing: 2.6px;
        text-align: center;
        font-family: "Add light italic";
        color: #fff;
        text-transform: capitalize;
        text-decoration: none;
        margin-left: 30%;
    }
}

@media only screen and (max-width: 500px) {
    .about-text{
        font-family: 'add light italic';
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 4px;
        text-align: center;
        text-transform: capitalize;
        padding-top: 100px;
        padding-right: 15px;
        color: #fff;
        padding-bottom: 70px;
        border: 15px #fff solid;
        background: rgb(0, 0, 0, .4);
    }

    .sec2-image{
        display: none;
    }
    .sec2-texts{
        text-align: justify;
        font-family: 'add light';
        width: 100%;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 1.12px;
        padding-top: 0;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 30px;
    }
    .story{
        background-color: #fff;
        /* display: block; */
        padding: 10% 2%;
        width: 100%;
        /* display: block; */
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        /* optional */
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    .story-text{
        background-color: rgb(228, 215, 218);
        width:  100%;
        padding: 5%;
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
    
    .story-text .p{
        margin-right: 3%;
    }
    
    .story-text h1{
        font-family: 'add';
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 4px;
        text-align: center;
        text-transform: uppercase;
    }
    .story-text h5{
        font-family: 'add light italic';
        font-size: 16px;
        padding-top: 25px;
        line-height: 28.8px;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 3.2px;
    }
    
    .story-image{
        width: 100%;
    }

    .story-image img{
        width: 100%;
        height: 40vh;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    .fourth{
        display: block;
        width: 100%;
        padding: 0 5%;
        background-color: #f5f0ef;
    }
    
    .east{
        width: 100%;
        align-items: left;
    }
    
    .east img{
        width: 100%;
        height: 30vh;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
    }
    
    .west{
        width: 100%;
        padding: 30px 0;
    }

    .fifth{
        display: block;
        background-color: #ffffff;
        width: 100%;
        padding: 5% 5%;
        /* display: block; */
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        /* optional */
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    
    .eastt{
        width: 100%;
        padding: 30px 0;
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
    
    .westt{
        width: 100%;
        margin-left: 0;
    }
    
    .westt img{
        width: 100%;
        height: 35vh;
        border: 12px solid #ffffff;
        margin-bottom: 0;
        margin-top: 0;
    }
    .sixth{
        width: 100%;
        display: block;
        padding: 5% 5%;
        background-color: #f5f0ef;
    }
    
    .eas{
        width: 100%;
    }
    
    .eas img{
        border: 12px solid #ffffff;
        width: 100%;
        height: 20vh;
    }
    
    .wes{
        width: 100%;
        padding: 30px 0;
        margin-left: 0;
    }
    .wes .a-btn{
        margin-top: 20%;
    }
    
    .btn-exp{
        background-color: #a5a6a7;
        padding: 20px 15px;
        line-height: 28.8px;
        font-size: 12px;
        letter-spacing: 2.6px;
        text-align: center;
        font-family: "Add light italic";
        color: #fff;
        text-transform: capitalize;
        text-decoration: none;
        margin:0 17%;
    }
}