<div class="about">
    <app-navbar2></app-navbar2>
    <div class="about-text">
        <p>luxury wedding cakes</p>
        <p>design in Nairobi</p>
    </div>
    <div class="section2-about">
        <div class="sec2-image">
            <img src="https://as1.ftcdn.net/v2/jpg/00/02/35/48/1000_F_2354868_sXPZMATl4akG35EXqzI6GYrfJcv4E2.jpg" alt="cake image">
        </div>
        <div class="sec2-texts">
            <p class="p">
                High-end cake designs for couples who want nothing but luxury for their wedding day. Covering Kenya and East Africa, Jane's undeniable talent is illustrated through elaborate artwork and attention to detail, with a focus on exclusivity. Jane works collaboratively with each client, providing a professional and attentive approach from concept to creation. Your distinctive personalities are entwined into the design process, while Jane explores the endless possibilities to produce a wedding cake that is so perfectly you.
            </p>
            <p class="p">
                From the moment you lose yourself in Jane's designs, through to the design consultation and the wedding day itself, Jane endeavours to ensure your experience goes beyond the wedding cakes so that it becomes something to savour, making it as memorable as the day itself.
            </p>
        </div>
    </div>
    <div class="story">
        <div class="story-text">
            <h1>Jane's story</h1>
            <h5>a story about embracing the unexpected.</h5>
            <p class="p">
                The path that led Jane to becoming a luxury wedding cake designer began when she got employed by a big bakery know as Gal Baking. She gained an earned her experience from here and decided to embark on her own journey as a baker and cake artist. Having being exposed to the market she decided to coliide luxury artistry and bakery into one theme one language.
            </p>
            <p class="p">
                Through the process of growth and establishment, Jane discovered her love of baking with artistry and placed her attention on cake decorating and sugar crafting - something that had once been a beloved pastime to enjoy. With the gift of time and determination to succeed, Jane began experimenting with flavours and creating new recipes. Without even realising, a lifelong passion for wedding cake design was established. Over nine years later, each year offers a journey for SweetArt Luxury Cake Design, proving that her passion is unrelenting
            </p>
        </div>
        <div class="story-image">
            <img src="https://as1.ftcdn.net/v2/jpg/01/01/78/52/1000_F_101785249_iKHnwR6ZzZ5oIhmXonpjuH5vOTWbOiSw.jpg" alt="a lady's image">
        </div>
    </div>
    <div class="fourth">
        <div class="east">
            <img src="https://img.freepik.com/free-photo/fresh-flowers-gifts-with-ornament-hearts-woolen-coverlet_23-2148024617.jpg?w=740&t=st=1677001420~exp=1677002020~hmac=0c17640a5e17145a66312a362888d0bb6c57a4737c0ef0bfa5b683dae71a7be8" alt="">
        </div>
        <div class="west">
            <p class="p">You can often find Jane working from her office studio crafting elaborate sugar flower forms. When she's not creating extraordinary masterpieces for weddings, Jane loves nothing more than spending time with her family.</p>
            <p class="p">Jane has also ventured in the business of wedding decor and is looking to expand the horizons of the business by proving not just the luxury cake experience but the whole exquisite experience for bride and groom.</p>
        </div>
    </div>

    <div class="fifth">
        <div class="eastt">
            <p class="p">Jane's warm, genuine and personal approach promises impeccable service without compromising on luxury. From the moment you arrive at your cake tasting consultation, you will feel like you have known each other forever. The beginning of an experience that you will never forget.</p>
            <p class="p">With an unrelenting love for tea and an adoration for all things red, if you could find Jane anywhere in the world, it would be soaking up the scenery on the coastline while sipping a glass of champagne - the ultimate luxury.</p>
        </div>
        <div class="westt">
            <img src="https://img.freepik.com/free-photo/woman-cooking-cake_23-2148018424.jpg?w=740&t=st=1677003158~exp=1677003758~hmac=af4b1169a4ec6be57e5bdbd969be76e8e5d41475f0e1d3bbe9aaefb91c7acd41" alt="">
        </div>
    </div>

    <div class="sixth">
        <div class="eas">
            <img src="https://img.freepik.com/free-photo/closeup-pink-barberton-daisies-white-background-with-space-your-text_181624-61168.jpg?w=826&t=st=1677004686~exp=1677005286~hmac=d5792c9c34a266165f51a7103a4e993be149ad6299d8f79dd60ef1641f187e46" alt="">
        </div>
        <div class="wes">
            <p class="p">Jane's refined style is recognised across the wedding industry; it's understated yet elegant, with intricate artwork and visually stunning details that need to be seen to be believed. The flavours are given just as much consideration as the design, with a selection of pairings that will immerse your palate in an array of aroma and taste. </p>
            <div class="a-btn">
                <a href="#" class="btn-exp">discover the experience</a>
            </div>
        </div>
    </div>

    <app-enquiry-button></app-enquiry-button>
    <app-instagram-content></app-instagram-content>
    <app-footer></app-footer>
</div>