<div class="about">
    <app-navbar2></app-navbar2>
    <div class="about-text">
        <p>luxury wedding cakes</p>
        <p>design in Nairobi</p>
    </div>
    <div class="section2-about">
        <div class="sec2-image">
            <img src="../../../assets/images/home-page/SA_Slide1.jpg" alt="cake image">
        </div>
        <div class="sec2-texts">
            <p class="p">
                Sweet art luxury cake is a company aspiring to design the best spoke cakes for high end clients who are 
                looking for nothing but luxury for their wedding day. 
                Our work and talent is illustrated through elaborate artwork and attention to detail with focus on exclusivity. 
                We work collaboratively with each client, providing a professional and attentive approach from concept creation. 
                Your distinctive personality is entwined in the design process, while we explore the endless possibilities 
                to produce a wedding cake that is so perfect for you. 
                With  a refined style that  is recognised across the wedding industry; its understated yet elegant, 
                with intricate artwork and visually stunning details that need to be seen to be believed. 
            </p>
            <p class="p">
                From the moment you lose yourself to our design through consultation and the wedding day itself,
                we endeavour to ensure your experience goes beyond the wedding cake , so that it becomes something to savour, 
                making it memorable as the day itself.
                At sweetart luxury cakes we welcome our clients with a warm personal approach which promises impeccable 
                service without compromising on luxury. From the moment you arrive at the cake consultation on design and 
                cake tasting, you will feel like you have known us forever and this will be the beginning of an experience 
                that you will never forget.

            </p>
        </div>
    </div>

    <div class="sixth">
        <div class="eas">
            <img src="../../../assets/images/home-page/SA_Slide3.jpg" alt="">
        </div>
        <div class="wes">
            <p class="p">SweetArt Luxury cakes' refined style is recognised across the wedding industry; 
                it's understated yet elegant, with intricate artwork and visually stunning details that need to be seen to be believed. 
                The flavours are given just as much consideration as the design, with a selection of pairings that will immerse your 
                palatte in an array of aroma and taste. 
            </p>
            <div class="a-btn">
                <a routerLink="/experience" class="btn-exp">discover the experience</a>
            </div>
        </div>
    </div>



    <app-enquiry-button></app-enquiry-button>
    <app-instagram-content></app-instagram-content>
    <app-footer></app-footer>
</div>