<section class="shipping">

    <div class="delivery">
      <p class="icon"><i class="fa-solid fa-truck"></i></p>
      <div class="right">
        <p class="up">FREE DELIVERY</p>
        <p class="low">For all orders over Kes 100k</p>
      </div>
    </div>
    <div class="delivery one">
      <p class="icon"><i class="fa-solid fa-credit-card"></i></p>
      <div class="right">
        <p class="up">SAFE PAYMENT</p>
        <p class="low">100% secure payment</p>
      </div>
    </div>
    <div class="delivery one">
      <p class="icon"><i class="fa-solid fa-comments"></i></p>
      <div class="right">
        <p class="up">24/7 HELP CENTER</p>
        <p class="low">Dedicated 24/7 support</p>
      </div>
    </div>
    <div class="delivery one">
      <p class="icon"><i class="fa-solid fa-address-card"></i></p>
      <div class="right">
        <p class="up">FRIENDLY SERVICES</p>
        <p class="low">30 day satisfaction guarantee</p>
      </div>
    </div>
  </section>