/* shipping section  */

.shipping{
    display: flex;
    margin: 30px 60px;
  }

.delivery{
    display: flex;
    width: 40%;
    padding: 10px 40px;
}

.one{
    border-left: 1px solid #999;
}

.icon{
    color: coral;
    padding-top: 5%;
}

.fa-solid{
    font-size: 30px;
}

.right{
    margin-left: 10%;
}

.up{
    font-size: 15px;
    font-weight: 700;
}

.low{
    font-size: 12px;
    color: #999999;
    text-transform: capitalize;
}

@media only screen and (max-width: 850px) {
    .shipping{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 20px 20px;
      }
    
    .delivery{
        display: flex;
        width: 100%;
        padding: 10px 4px;
    }
    
    .one{
        border-left: 0;
    }

    .icon{
        color: coral;
        padding-top: 5%;
    }
    
    .fa-solid{
        font-size: 30px;
    }
    
    .right{
        margin-left: 10%;
    }
    
    .up{
        font-size: 10px;
        font-weight: 400;
    }
    
    .low{
        font-size: 8px;
        color: #999999;
        text-transform: capitalize;
    }
}
  /*End of shipping section  */