.cont{
    border: 25px solid #fff;
    background-color: rgb(0, 0, 0, 0.4);
}

.experience-text{
    text-align: end;
    text-transform: capitalize;
    font-size: 16px;
    padding-right: 80px;
    padding-top: 200px;
    padding-bottom: 40px;
    margin-left: 60%;
    border: 20px;
    text-align: right;
    
}
.experience-text p{
    margin-right: 40%;
    text-transform: uppercase;
    padding: 20px;
    font-family: 'Add light italic';
    letter-spacing: 4px;
    line-height: 20px;
    color: #fff;
}
.experience-text h5{
    font-size: 16px;
    text-align:center;
    padding: 4px;
    font-family: 'Add light';
    letter-spacing: 1.28px;
    line-height: 28.8px;
    color: #fff;
}

.enquire-form{
    background: rgba(248,235,207,.7);
    display: flex;
    width: 100%;
    padding: 10px 10%;
}

.enquire-text{
    width: 50%;
}

.tab .tablinks{
    font-size: 15px;
    font-family: 'Add light';
    letter-spacing: 2.5px;
    line-height: 24px;
    color: #8E3200;
    font-weight: 500;
}
label{
    color: #8E3200;
    font-weight: 800;
    font-style: "Times New Roman italic" ;
    margin-top: 3%;
    margin-bottom: 3%;
}

select {
    border: none;
    padding: 10px 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  option{
    width: 100%;
    height: 4vh;
    border-radius: 2px;
    border: 1px solid #c1c1c0;
    font-family: 'Add light';
    font-size: 14px;
    letter-spacing: 2px;
    font-style: italic;
    line-height: 28.8px;
  }

input, select{
    width: 100%;
    height: 6vh;
    border-radius: 2px;
    border: 1px solid #c1c1c0;
    color: #A64B2A;
    font-family: 'Add light';
    letter-spacing: 1.28px;
    font-style: italic;
    line-height: 28.8px;
    padding-left: 2%;
}

input::placeholder{
    color: #A64B2A;
    padding-left: 2%;
    font-size: 12px;
    font-weight: 500;
    font-style: italic ;
    font-family: "add light";
}



textarea{
    width: 100%;
    border: 1px solid #c1c1c0;
}
input[type="text"] {
    font-size: 20px;
    padding-left: 2%;
    font-family: "add light";
    line-height: 4px;
    letter-spacing: 1.12px;
    color: #A64B2A;
}

select[type=""]{
    font-size: 14px;
    padding-left: 2%;
    font-family: "add light";
    line-height: 4px;
    letter-spacing: 1.12px;
    color: #A64B2A;
}

.selected{
    padding-left: 2%;
}

.text-1, .text-2, .text-3{
    font-size: 16px;
    margin-top: 10%;
    font-family: 'add light';
    line-height: 4px;
    letter-spacing: 1.12px;
}

.upload-images{
    margin-top: 10%;
}
.upload {
    margin-top: 4%;
    margin-left: 40%;
}

.upload input{
    width: 45%;
}

.submit-btn{
    text-align: center;
    padding: 10px 0;
    margin-top: 5%;

}

.submit-btn button{
    padding: 10px 20px;
    background-color: #A64B2A;
    border: none;   
    color: #fff;
    border-radius: 5px;   
    font-size: 20px;
    font-family: 'Add light';
    letter-spacing: 1.28px;
    line-height: 28.8px;
}

.upload-images p{
    color: #c1c1c0;
    font-size: 12px;
    font-weight: 300;
    font-style: "Times New Roman italic" ;
    margin-top: 2%;
}
.enquire-images{
    width: 30%;
    margin-left: 20%;
  
}

.enquire-images p{
    font-family: 'Add light';
    letter-spacing: 1.28px;
    font-style: italic;
    line-height: 28.8px;
    font-size: 16px;
    text-align: justify;
    color: #8E3200;
    font-weight: 900;
}

.images img{
    width: 100%;
    height: 50vh;
    margin-top: 10%;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #f8ebcf;
    background-color: #f8ebcf;
    width: 100%;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 50%;
    color: #000;
  }
  
  .tab button:hover {
    background-color: #f8ebcf;
  }
  
  .tab button.active {
    background-color: #8E3200;
    color: #fff;
  }

  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #f8ebcf;
    border-top: none;
  }

  .ones{
    display: block;
  }


@media only screen and (max-width: 850px) {
    .cont{
        border: 25px solid #fff;
        height: 30vh;
        background-color: none;
    }

    .experience-text{
        padding-right: 40px;
        padding-top: 15%;
        padding-bottom: 0;
        margin-left: 30%;
        text-align: right;     
    }

    .text-1, .text-2, .text-3{
        font-size: 18px;
        margin-top: 10%;
        font-family: 'add light';
        line-height: 4px;
        letter-spacing: 1.12px;
    }

    .experience-text h5{
        font-size: 16px;
        text-align:center;
        padding: 4px;
        font-family: 'Add light';
        letter-spacing: 1.28px;
        line-height: 28.8px;
    }

    .experience-text p{
        margin-right: 30%;
    }

    .upload input{
        width: 70%;
        height: 20%;
    }

    .images img{
        width: 100%;
        height: 20vh;
        margin-top: 15%;
    } 

    label{
        color: #8E3200;
        font-weight: 800;
        font-style: "Times New Roman italic" ;
        margin-top: 5%;
        margin-bottom: 5%;
        line-height: 18px;
    }
    
    input{
        width: 100%;
        height: 3vh;
        border-radius: 2px;
        border: 1px solid #c1c1c0;
        color: #A64B2A;
        font-family: 'Add light';
        letter-spacing: 1.28px;
        font-style: italic;
        line-height: 28.8px;
    }

    select{
        width: 100%;
        height: 4vh;
        border-radius: 2px;
        border: 1px solid #c1c1c0;
        color: #A64B2A;
        font-family: 'Add light';
        letter-spacing: 1.28px;
        font-style: italic;
        line-height: 28.8px;
    }

    input::placeholder{
        color: #A64B2A;
        padding-left: 2%;
        font-size: 14px;
        font-weight: 500;
        font-style: italic ;
        font-family: "add light";
    }
}


@media only screen and (max-width: 500px) {
    .cont{
        border: 15px solid #fff;
        height: 40vh;
        background-color: rgb(0, 0, 0, 0.4);
    }

   .experience-text{
       text-align: center;
        margin-left: 10%;
        padding-top: 20%;
        color: #fff;
        padding-right: 50px;
        margin-left: 15%;
    }
    
    .experience-text h5{
        font-size: 12px;
        text-align:center;
        padding: 1px 0;
        line-height: 15.8px;
    }

    .experience-text p{

        font-size: 22px;
        margin-right: 10%;
        padding-bottom: 0;
    }

    .enquire-form{
        background-color: #fff;
        display: block;
        width: 100%;
        padding: 10px 10%;
    }

    .enquire-images{
        display: none;
    }

    .enquire-text{
        width: 100%;
    }

    .upload {
        margin-top: 4%;
        margin-left: 15%;
    }

    .upload input{
        width: 80%;
        text-align: center;
    }

    .submit-btn{
        text-align: center;
        padding: 20px 0;
    
    }
    
    .submit-btn button{
        padding: 10px 20px;
        font-size: 14px;
    }

    input{
        width: 100%;
        height: 4vh;
        border-radius: 2px;
        border: 1px solid #c1c1c0;
        color: #A64B2A;
        font-family: 'Add light';
        letter-spacing: 1.28px;
        font-style: italic;
        line-height: 28.8px;
    }
  
    select{
        width: 100%;
        height: 6vh;
        border-radius: 2px;
        border: 1px solid #c1c1c0;
        color: #A64B2A;
        font-family: 'Add light';
        letter-spacing: 1.28px;
        font-style: italic;
        line-height: 28.8px;
    }

    label{
        color: #8E3200;
        font-weight: 800;
        font-style: "Times New Roman italic" ;
        margin-top: 5%;
        margin-bottom: 5%;
        line-height: 18px;
    }

    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 12px;
        width: 50%;
        color: #000;
      }
}
