<div class="container-full">
    <app-navbar2></app-navbar2>
   
    <div class="cont">
        <div class="experience-text">
            <p>Enquire</p>
            <h5>For couples who want a high-end wedding cake that features the finest flavours 
                and exquisite artistry, book in an appointment-only consultation with
                 Hayley Elizabeth Cake Design.</h5>
        </div>
    </div>
        <div class="enquire-form">
            <div class="enquire-text">
                <form>
                    <div class="text-1">
                        <label for="fname">First Name:</label><br>
                        <input type="text" id="fname" name="fname" placeholder="Please provide your first name"><br>
    
                        <label for="lname">Last Name:</label><br>
                        <input type="text" id="lname" name="lname" placeholder="Please provide your last name"><br>
    
                        <label for="fname">Email:</label><br>
                        <input type="text" id="fname" name="fname" placeholder="Please provide your email address"><br>
    
                        <label for="lname">Confirm Email:</label><br>
                        <input type="text" id="lname" name="lname" placeholder="Please confirm your email address"><br>
    
                        <label for="fname">Phone:</label><br>
                        <input type="text" id="fname" name="fname" placeholder="Please provide your phone number"><br>
                    </div>
                 
                    <div class="text-2">
                        <label for="fname">Wedding or Celebration cake?</label><br>
                        <select id="inputCake" class="form-select">
                          <option selected>Select</option>
                          <option>Wedding Cake or Wedding dessert table</option>
                          <option>Celebration Cake</option>
                          <option>Corporate Event</option>
                        </select>
    
                        <label for="lname">Date of Wedding / Celebration Event:</label><br>
                        <input type="date" id="lname" name="lname" value="Please provide your last name"><br>
    
                        <label for="fname">Wedding Venue</label><br>
                        <input type="text" id="fname" name="fname"><br>
                    </div>
                    
                    <div class="text-3">
                        <label for="fname">How did you hear about SweetArt Cakes?</label><br>
                        <select id="inputCake" class="form-select">
                            <option selected>Select</option>
                            <option>Recommendation by Venue or Friend / Family</option>
                            <option>Instagram</option>
                            <option>Facebook</option>
                            <option>Google</option>
                            <option>Pinterest</option>
                            <option>Twitter</option>
                            <option>LinkedIn</option>
                          </select>
      
    
                        <label for="lname">CoHow can I help?</label><br>
                        <textarea type="text" id="lname" name="lname" value="Please confirm your email address"></textarea><br>
    
                        <label for="fname">What is your approximate cake budget</label><br>
                        <select id="inputCake" class="form-select">
                            <option selected>Select</option>
                            <option>€725 - €1000</option>
                            <option>€1100 - €2000</option>
                            <option>2 tire cake starting from or other small celebration 2 tier or less </option>
                            <option>celebration/birthday cake €300+</option>
                          </select>
                    </div>

                    <div class="upload-images">
                        <p>If you have any images please feel free to upload them below:</p>
                        <div class="upload">
                        <input type="file" id="fname" name="fname" title="choose files to upload"><br>
                        </div>
                    </div>
                  <div class="submit-btn">
                    <button> Send </button>
                  </div>

                    
                </form>
            </div>

            <div class="enquire-images">
                <p>E: hello@hayleyelizabethcakedesign.com</p>
                <p> T: 07535627479</p>
                <div class="images">
                    <img src="https://w2d8a5y9.stackpathcdn.com/wp-content/uploads/2020/04/mauve-dusky-pink-wedding-cake-marble-471x705.jpg">
                    <img src="https://st.depositphotos.com/2325841/3475/i/600/depositphotos_34756713-stock-photo-wedding-cake.jpg" alt="">
                </div>
            </div>
        </div>
 
    <app-instagram-content></app-instagram-content>
    <app-footer></app-footer>
</div>

