<div class="container-full">
    <app-navbar2></app-navbar2>
   
    <div class="cont">
        <div class="experience-text">
            <p>Enquire</p>
            <h5>For couples who want a high-end wedding cake that features the finest flavours 
                and exquisite artistry, book in an appointment-only consultation with
                 SweetArt Luxury Cake Design.</h5>
        </div>
    </div>
        <div class="enquire-form">
            <div class="enquire-text">
                <form method="post">
                    <div class="text-1">
                        <label for="fname">First Name:</label><br>
                        <input type="text" id="FirstName" value="" placeholder="Please provide your first name"><br>
    
                        <label for="lname">Last Name:</label><br>
                        <input type="text" id="LastName" value="" placeholder="Please provide your last name"><br>
    
                        <label for="email">Email:</label><br>
                        <input type="email" id="Email" value="" placeholder="Please provide your email address"><br>
    
                        <label for="phone">Phone:</label><br>
                        <input type="text" id="Phone" value="" placeholder="Please provide your phone number"><br>
                    </div>
                 
                    <div class="text-2">
                        <label for="cake">Wedding or Celebration cake?</label><br>
                        <select id="Cake" value="" class="form-select">
                          <option class="selected" selected>Select</option>
                          <option>Wedding Cake or Wedding dessert table</option>
                          <option>Celebration Cake</option>
                          <option>Corporate Event</option>
                        </select>
    
                        <label for="date">Date of Wedding / Celebration Event:</label><br>
                        <input type="date" id="Date" value="" placeholder="Please provide your last name"><br>
    
                        <label for="venue">Wedding Venue</label><br>
                        <input type="text" id="Venue" value=""><br>
                    </div>
                    
                    <div class="text-3">
                        <label for="budget">What is your approximate cake budget</label><br>
                        <select id="Budget" value="" class="form-select">
                            <option class="selected" selected>Select</option>
                            <option>Kes72500 - Kes100000</option>
                            <option>Kes110000 - Kes200000</option>
                            <option>2 tire cake starting from or other small celebration 2 tier or less </option>
                            <option>celebration/birthday cake €300+</option>
                          </select>
                    </div>

                  <div class="submit-btn">
                    <button type="button" onclick="whatsapp()"> Send To Whatsapp </button>
                  </div>
                </form>
            </div>

            <div class="enquire-images">
                <p>Email: sweetartcakes@gmail.com</p>
                <p> Tel: 0721408076</p>
                <div class="images">
                    <img src="../../../assets/images/Enquire-images/SA_enquireimage3.jpg">
                    <img src="../../../assets/images/Enquire-images/SA_enquireimage2.jpg" alt="">
                </div>
            </div>
        </div>
 
    <app-instagram-content></app-instagram-content>
    <app-footer></app-footer>
</div>

