.contt{
    border: 25px solid #fff;
    background-color: rgb(0, 0, 0, .4);
    display: block;
}
.experience-text{
    text-transform: capitalize;
    text-align: right;
    padding: 10% 0;
}
.experience-text p{
    margin-right: 10%;
    font-family: 'Add light italic';
    letter-spacing: 4px;
    font-size: 60px;
    color: #fff; 
    line-height: 20px;
}

.medical{
    margin: 9% 30px;
}

.prod-details{
    text-decoration: none;
    color: #000;
}

.prod-details:hover{
    text-decoration: none;
    color: orangered;
}

.product__items--thumbnail {
    position: relative;
    overflow: hidden
}

.product__items--link .product__items--img{
    max-width: 100%;
    max-height: none;
    height: 30vh;
    object-fit: cover;
}
.product__items--link {
    display: block
}

@media only screen and (max-width:991px) {
    .product__items--link {
        width: 100%
    }
}

.product__items--link {
    display: block
}

@media only screen and (max-width:991px) {
    .product__items--link {
        width: 100%
    }
}

.product__items--img {
    display: block;
    width: 100%
}
.product__items--grid:hover .product__items--img {
    -webkit-transform: inherit;
    transform: inherit;
}

.product__items--link .product__items--img{
    max-width: 100%;
    max-height: 50rem;
    object-fit: cover;
}

.product__items:hover .product__items--img {
    -webkit-transform: scale(1.04);
    transform: scale(1.04)
}

.product__secondary--img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.product__badge {
    position: absolute;
    top: 12px;
    left: 12px;
}

@media only screen and (min-width:576px) {
    .product__badge {
        top: 20px;
        left: 20px;
    }
}

.product__badge--items {
    height: 2rem;
    line-height: 2rem;
    padding: 0 7px;
    font-weight: 300;
    background: #000;
    color: #fff;
    border-radius: 6px 0 6px;
    font-size: 1.0rem;
}

@media only screen and (max-width:575px) {
    .product__badge--items {
        font-size: 1.3rem;
    }
}

.product__badge {
    position: absolute;
    top: 12px;
    left: 12px;
}

@media only screen and (min-width:576px) {
    .product__badge {
        top: 20px;
        left: 20px;
    }
}

.product-page{
    display: flex;
    background-color: #fff;
    margin: 0;
    padding: 5% 2%;
}

.category-section{
    width: 25%;
}

.categories {
    padding: 3%;
    margin-bottom: 10%;
    height: 40vh;
}

.h3{
    text-align: left;
    color: #8E3200;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 3.6px;
    line-height: 16px
}

.cats a{
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'times new roman';
    color: #A64B2A;
    font-weight: 800;
    font-style: italic;
    font-size: 16px;
    text-align: start;
    letter-spacing: 1.16px;
    line-height: 16px;
}

.cats a:hover{
    color: #D7A86E;
}

.cats{
    display: flex;
    list-style-type: none;
    text-align: start;
    font-size: 13px;
    width: 100%;
}

.cats .count{
    text-align: right;
    width: 50%;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    font-size: 20px;
}

.back{
    margin: 0 20px ;
    width: 70% ;
    display: block;
}

.top{
    padding-left: 5px;
    display: flex;
    height: 30vh;
    margin-bottom: 20px;
}

.top img{
    width: 100%;
}

.paginate{
    margin: 3% 40px;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    color: coral;
}

.paginate:hover{
    color: #606060;
}

#btnContainer{
    margin-left: 30px;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #FFEBC1;
    cursor: pointer;
    font-size: 14px;
    font-family: 'add';
    letter-spacing: 1.16px;
    
  }
  
  .btn:hover {
    background-color: #D7A86E;
  }
  
  .btn.active {
    background-color: #A64B2A;
    color: white;
  }

.column {
    float: left;
    width: 30%;
    padding: 10px;
    margin-left: 3%;
    margin-top: 1.5%;
    background-color: #fff;
    border: 0;
  }

  .card:hover{
    box-shadow: 2px 2px 2px 2px rgb(129, 125, 125,.4);
    transition: transform 2s cubic-bezier(.19,1,.22,1),opacity 2s cubic-bezier(.19,1,.22,1);
    transform: translateX(3px);
  }

.details{
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

.cat-name{
    font-size: 12px;
    color: #606060;
}

.product-name{
    text-decoration: none;
    text-align: center;
    color: #8E3200;
    font-family: 'add light';
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 3.6px;
    line-height: 16px;
}

.product-name:hover{
    text-decoration: none;
    color: #9f9f9f;
}

.price-tag{
    display: flex;
    margin-top: 5%;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'times new roman';
    color: black;
    font-weight: 800;
    font-style: italic;
    font-size: 14px;
    text-align: start;
    letter-spacing: 1.16px;
    line-height: 16px;
}

.new-price{
    margin-right: 10%;
    font-size: 15px;
}

.old-price{
    margin-left: 10%;
    font-size: 15px;
}

.whatsapp{
    background-color: #A64B2A;
    padding: 3% 6%;
    color: #fff;
    font-size: 14px;
    font-family: "add light";
    line-height: 16px;
    letter-spacing: 1.8px;
}
a:focus, a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s; 
}

.product__items:hover .product__items--action__style2 {
    opacity: 1;
    visibility: visible;
    right: 1.5rem;
}

.pricelist2{
    background-color: #fff;
    margin: 120px 0;
    padding: 10px 0;
}

.pricelist2 h2{
    text-align: center;
    font-size: 40px;
    font-family: 'add light';
    letter-spacing: 3.16px;
    padding: 20px 0;
    color: #8E3200;
    font-weight: 500;
}

/* input{
   align-items: right;
} */

#myInput {
    
    width: 20%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 70%;
  }
  
  #myTable {
    border-collapse: collapse;
    width: 80%;
    margin: 2% 10%;
    border: 1px solid #ddd;
    font-size: 18px;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable .fl{
    font-family: 'add';
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 1.16px;
    font-weight: 600;
  }

  #myTable .titles{
    color: #8E3200;
    font-family: 'add';
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 1.16px;
    font-style: italic;
    font-weight: 600;
  }

  
#myTable tr.header, #myTable tr:hover {
    background-color: #f8e4b9;
    opacity: 1;
  }

@media only screen and (max-width:575px) {
    .product__items:hover .product__items--action__style2 {
        right: 1rem;
    }
}


@media only screen and (max-width:850px) {

    .contt{
        border: 20px solid #fff;
        background-color: rgb(0, 0, 0, .4);
        display: block;
    }
    .experience-text{
        text-transform: capitalize;
        text-align: center;
        padding: 20% 0;
    }
    .experience-text p{
        margin-right: 0;
        font-family: 'Add light italic';
        letter-spacing: 4px;
        font-size: 60px;
        color: #fff; 
        line-height: 20px;
    }

    .medical{
        margin-top: 0 !important;
        margin-bottom: 0;
        display: block;
        height: auto;
    }

    .product-page{
        display: block;
    }

    .category-section{
        width: 100%;
    }

    .categories {
        padding: 3%;
        margin-bottom: 0;
        height: 17vh;
    }
    
    .h3{
        text-align: center;
        font-size: 20px;
        line-height: 36px;
        letter-spacing: normal;
        color: #373737;
    }

    .categoriess{
        display: inline-flex !important;
        overflow-x: scroll !important;
        padding: 0;
    }

    .cats{
        list-style-type: none;
        padding: 1% 5%;
        border: 1px solid #B2B2B2;
        background-color: transparent;
        text-align: center;
        margin-left: 0;
        margin-right: 2%;
        border-radius: 5px;
        width: 200px;
    }
    
    .cats a{
        color: #606060;
        font-size: 20px;
        text-align: center;
    }

    .back{
        margin: 0;
        width:  100% ;
        display: block;
    }

    #btnContainer{
        display: none;
    }

    .products{
        display: block;
        margin-left: 0;
    }

    .column {
        float: none;
        width: 90%;
        padding: 10px;
        margin: 3% 5%;
        background-color: #fff;
        border: 0;
      }

    .product-name{
        text-align: left !important;
        font-size: x-large;
    }
    .price-tag{
        text-align: left;
        margin-bottom: 5%;
    }
    .new-price,.old-price{
        font-size: x-large;
    }
    .whatsapp{
        margin-left: 30%;
        font-size: x-large;
    }
   
    .paginate{
        margin-left: -8%;
        margin-bottom: 10%;
    }

    .pricelist2{
        padding: 0 0;
    }
    .pricelist2 h2{
        padding-top: 0;
    }
     #myTable {
        width: 95%;
       margin: 10px 20px;
    }

    #myTable .titles{
        line-height: 24px;
    }

    #myTable .fl{
        line-height: 24px;
    }

    #myInput{
        width: 30%;
        margin-left: 67%;
    }
}

@media only screen and (max-width:500px) {
    .contt{
        border: 15px solid #fff;
        background-color: rgb(0, 0, 0, .4);
        display: block;
    }
    .experience-text{
        text-transform: capitalize;
        text-align: center;
        padding: 20% 0;
    }
    .experience-text p{
        margin-right: 0;
        font-family: 'Add light italic';
        letter-spacing: 4px;
        font-size: 30px;
        color: #fff; 
        line-height: 20px;
    }

    .cont{
        margin: 0;
        padding: 0;
    }
    .medical{
        margin-top: 0 !important;
        margin-bottom: 0;
        display: block;
        padding: 0;
        margin: 0;
    }

    .category-section{
        width: 100%;
    }

    .categories {
        padding: 3%;
        margin-bottom: 0;
        height: 25vh;
    }

    .categoriess{
        display: inline-flex !important;
        overflow-x: scroll !important;
        padding: 0;
    }

    .cats{
        list-style-type: none;
        padding: 1% 2%;
        border: 1px solid #B2B2B2;
        background-color: transparent;
        text-align: center;
        margin-left: 0;
        margin-right: 8%;
        border-radius: 5px;
        width: 100px;
    }
    
    .cats a{
        color: #606060;
        font-size: 16px;
        text-align: center;
    }

    .back{
        margin: 0;
        width:  100% ;
        display: block;
    }

    #btnContainer{
        display: none;
    }
    
    .products{
        display: block;
        margin-left: 0;
    }

    .column {
        float: none;
        width: 90%;
        padding: 10px;
        margin: 3% 5%;
        background-color: #fff;
        border: 0;
      }
   
    .cat-name{
        text-align: left;
        font-size: larger;
    }
    .product-name{
        text-align: left !important;
        font-size: large;
    }
    .price-tag{
        text-align: left;
    }
    .new-price,.old-price{
        font-size: large;
    }
    .whatsapp{
        margin-left: 0;
        font-size: large;
    }
    
    .paginate{
        margin-left: -8%;
        margin-bottom: 10%;
    }
}