<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <a class="span">P.O Box 35-01001, KALIMONI</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <a class="span" href="tel:+254724087213">0724087213</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <a class="span" href="mailto:bonjoeectronics@gmail.com">bonjoeectronics@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a logo routerLink="/home">Bonjoe <span>Electronics</span></a>
                        </div>
                        <div class="footer-text">
                            <p>Welcome to Bonjoe, your number one electronics shop. We are located in Nairobi, gaborone rd on kamae rd, Frontline building. Feel free to make your order
                                and we will deliver to your doorstep.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="https://web.facebook.com/bonjoeelectronics/?_rdc=1&_rdr"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="https://twitter.com/"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="https://www.instagram.com/bonjoe_electronics/"><i class="fab fa-instagram instagram-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a routerLink="/home">Home</a></li>
                            <li><a routerLink="/home">Home</a></li>
                            <li><a routerLink="/shop">shop</a></li>
                            <li><a routerLink="/shop">shop</a></li>
                            <li><a routerLink="/shop">categories</a></li>
                            <li><a routerLink="/shop">categories</a></li>
                            <li><a routerLink="/contact">Contact Us</a></li>
                            <li><a routerLink="/contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don't miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>All Rights Reserved | Copyright &copy; 2023 | Powered by <a href="https://www.linkedin.com/in/job-nyambura/">The Alchemist</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a routerLink="/home">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a routerLink="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>