<header>
  <div class="container">
    <div class="flexa text-center">
      <div class="menu-icon" [class.menu-icon-Class]="menu_icon_var" (click)="openMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="menu" [class.menuClass]="menuVar">
        <ul>
          <li><a class="nav-link active" routerLink="home" routerLinkActive="active-link" ariaCurrentWhenActive="page">About</a></li>
          <li><a class="nav-link" routerLink="#" routerLinkActive="active-link" ariaCurrentWhenActive="page">The experience</a></li>
          <li><a class="nav-link" routerLink="#" routerLinkActive="active-link" ariaCurrentWhenActive="page">Flavours</a></li>
          <li><a class="nav-link" routerLink="#" routerLinkActive="active-link" ariaCurrentWhenActive="page">Shop</a></li>
          <li><a class="nav-link" routerLink="#" routerLinkActive="active-link" ariaCurrentWhenActive="page">Blogs</a></li>
          <li><a class="nav-link" routerLink="#" routerLinkActive="active-link" ariaCurrentWhenActive="page">Enquire</a></li>
        </ul>
      </div>
    </div> 
  </div>
</header>