<div class="container-full" >
    <app-navbar2></app-navbar2>
    <div class="contt">
        <div class="experience-text">
            <p>Product Details</p>
        </div>
    </div>
<div class="products" *ngIf="singleProduct">
    <div class="product-details">
        <div class="product-image">
            <img src="{{singleProduct[0].image}}">
        </div>
        
        <div class="product-price">
            <p class="name">{{singleProduct[0].name}}</p>
            <div class="price">
                <p>Ksh {{singleProduct[0].price}}</p>
            </div>
          
            <div class="btn-buy">
                <button (click)="openWhatsApp()"  class="whatsapp btn"><i class="fa-brands fa-whatsapp"></i> Buy Via Whatsapp</button>
            </div>
            <p class="category">Category: <span id="category-style">{{singleProduct[0].category_name}}</span></p>
        </div>
    </div>
    
    <div class="product-description">
        <p class="heading">DESCRIPTION</p>
        <hr class="line-1">
        <p class="description-1">{{singleProduct[0].description}}</p>
    </div>

    <hr class="line-1">
    <p class="h2">Related Products</p>
    <div class="related">
        <div class="cardd column"  *ngFor="let product of products;let i = index" >
            <div class="product__items">
                <div class="product__items--thumbnail">
                    <a [routerLink]="['/shop/fathersdaycakes-details/',product.id]" class="product__items--link" >
                        <img class="product__items--img product__primary--img" src="{{ product.image }}" alt="product-img">
                        <img class="product__items--img product__secondary--img" src="{{ product.image2 }}" alt="product-img">
                    </a>
                    <div class="product__badge">
                        <span class="product__badge--items sale">Sale</span>
                    </div>
                </div>
            </div>

            <div class="details">
                <p class="cat-name">{{ product.category_name | titlecase}}</p>
                <a [routerLink]="['/shop/fathersdaycakes-details/',product.id]" class="product-name">{{ product.name | titlecase}}</a>
                <div class="price-tag">
                    <p class="new-price">Kes {{ product.price}}</p>
                   
                </div>
                <button (click)="openWhatsAppp(i)"  class="whatsapp btn"><i class="fa-brands fa-whatsapp"></i> Buy Via Whatsapp</button>
            </div>
        </div> 
    </div>
</div>
</div>
<app-footer></app-footer>
