.medical{
    color: #243A73;
    margin-top: 9%;
    margin-bottom: 3%;
    font-size: 28px;
    font-weight: 700;
}
.prod-details{
    text-decoration: none;
    color: #000;
}

.prod-details:hover{
    text-decoration: none;
    color: coral;
}

@media only screen and (max-width:500px) {
    .medical{
        margin-top: 20% !important;
        font-size: 20px;
    }
    .products{
        display: block !important;
        margin-left: 15% !important ;
        margin-bottom: 10% !important;
    }
    .card{
        margin-top: 5%;
    }
}

@media only screen and (max-width:850px) {
    .medical{
        margin-top: 8%;
        font-size: 20px;
    }
    .products{
        display: block !important;
        margin-left: 15% !important ;
        margin-bottom: 10% !important;
    }
    .card{
        margin-top: 5%;
    }
}

.product__items--thumbnail {
    position: relative;
    overflow: hidden
}

.product__items--link .product__items--img{
    max-width: 100%;
    max-height: none;
    height: 30vh;
    object-fit: cover;
}
.product__items--link {
    display: block
}

@media only screen and (max-width:991px) {
    .product__items--link {
        width: 100%
    }
}

.product__badge {
    position: absolute;
    top: 12px;
    left: 12px;
}

@media only screen and (min-width:576px) {
    .product__badge {
        top: 20px;
        left: 20px;
    }
}

.product__badge--items {
    height: 2rem;
    line-height: 2rem;
    padding: 0 7px;
    font-weight: 300;
    background: orangered;
    color: #fff;
    border-radius: 6px 0 6px;
    font-size: 1.0rem;
}

@media only screen and (max-width:575px) {
    .product__badge--items {
        font-size: 1.3rem;
    }
}

.product__badge {
    position: absolute;
    top: 12px;
    left: 12px;
}

@media only screen and (min-width:576px) {
    .product__badge {
        top: 20px;
        left: 20px;
    }
}

.product-page{
    display: flex;
}
.category-section{
    width: 25%;
    padding: 3%;
    box-shadow: 0px 0px 5px #243A73; 
    margin-bottom: 2%;
    margin-left: 2%;
    height: auto;
}
.cats{
    list-style-type: none;
    padding: 3%;
    border: 1px solid #B2B2B2;
    text-align: center;
    margin-left: -10%;
    border-radius: 5px;
}
.cats a{
    text-decoration: none;
    color: #243A73;
    font-weight: 500;
}
.cats a:hover{
    text-decoration: none;
    color: #fff;
}
.cats:hover{
    background-color: orangered;
    color: #fff !important;
    list-style-type: none;
    padding: 3%;
    border: 1px solid #B2B2B2;
    text-align: center;
    margin-left: -10%;
    border-radius: 5px;
}
.products{
    margin-left: 2%;
    width: 70% !important;
    display: flex;
    margin-bottom: 2%; 
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (208px);
    grid-template-columns: repeat(4, 208px);
    justify-content: center;
    grid-gap: 25px;
}

.card{
    background-color: #E5E3DD;
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.details{
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
}
.cat-name{
    font-size: 12px;
    color: #606060;
}

.product-name{
    font-size: 14px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    text-align: center;
}
.product-name:hover{
    text-decoration: none;
    color: coral;
}

.price-tag{
    display: flex;
    margin-top: 5%;
}

.new-price{
    margin-right: 10%;
    font-size: 15px;
}

.old-price{
    margin-left: 10%;
    text-decoration: line-through;
    font-size: 15px;
}

.whatsapp{
    background-color: #25d366;
    padding: 3% 6%;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
}

.whatsapp:hover{
    background-color: transparent;
    border: 1px solid #25d366;
    padding: 3% 6%;
    color: #25d366;
    font-weight: 400;
}








.tab_pane {
    display: none;
    -webkit-transition: var(--transition);
    transition: var(--transition)
}

.tab_pane:not(.show) {
    opacity: 0
}

.tab_pane.show {
    opacity: 1
}

.tab_pane.active {
    display: block
}

a:focus, a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s; }


    @media only screen and (max-width:1365px) {
        .product__grid--inner .product__items--action__btn {
            padding: 0 .6rem
        }
    }
    
    @media only screen and (max-width:1199px) {
        .product__grid--inner .product__items--action__btn {
            padding: 0 .5rem
        }
    }
    
    .product__grid--inner .product__items--action__btn.add__to--cart {
        font-size: 1.3rem;
        padding: 0 .6rem
    }
    
    @media only screen and (min-width:1600px) {
        .product__grid--inner .product__items--action__btn.add__to--cart {
            font-size: 1.4rem
        }
    }
    
    @media only screen and (max-width:1365px) {
        .product__grid--inner .product__items--action__btn.add__to--cart {
            padding: 0 .4rem
        }
    }
    
    @media only screen and (max-width:1600px) {
        .product__grid--inner .product__items--action__btn.add__to--cart {
            padding: 0 .6rem
        }
    }



    

    
.row {
    --bs-gutter-x: 3rem;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5)
}

.row>* {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-bottom: var(--bs-gutter-y)
}

.col {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%
}

.row-cols-auto>* {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto
}

.row-cols-1>* {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%
}

.row-cols-2>* {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%
}

.row-cols-3>* {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.3333333333%
}

.row-cols-4>* {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%
}

.row-cols-5>* {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 20%
}

.row-cols-6>* {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.6666666667%
}

@media only screen and (min-width:576px) {
    .col-sm {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%
    }
    .row-cols-sm-auto>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto
    }
    .row-cols-sm-1>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%
    }
    .row-cols-sm-2>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%
    }
    .row-cols-sm-3>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%
    }
    .row-cols-sm-4>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%
    }
    .row-cols-sm-5>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 20%
    }
    .row-cols-sm-6>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%
    }
}

@media only screen and (min-width:480px) {
    .row-cols-sm-u-2>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%
    }
}

@media only screen and (min-width:768px) {
    .col-md {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%
    }
    .row-cols-md-auto>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto
    }
    .row-cols-md-1>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%
    }
    .row-cols-md-2>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%
    }
    .row-cols-md-3>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%
    }
    .row-cols-md-4>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%
    }
    .row-cols-md-5>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 20%
    }
    .row-cols-md-6>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%
    }
}

@media only screen and (min-width:992px) {
    .col-lg {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%
    }
    .row-cols-lg-auto>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto
    }
    .row-cols-lg-1>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%
    }
    .row-cols-lg-2>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%
    }
    .row-cols-lg-3>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%
    }
    .row-cols-lg-4>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%
    }
    .row-cols-lg-5>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 20%
    }
    .row-cols-lg-6>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%
    }
}

@media only screen and (min-width:1200px) {
    .col-xl {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%
    }
    .row-cols-xl-auto>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto
    }
    .row-cols-xl-1>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%
    }
    .row-cols-xl-2>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%
    }
    .row-cols-xl-3>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%
    }
    .row-cols-xl-4>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%
    }
    .row-cols-xl-5>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 20%
    }
    .row-cols-xl-6>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%
    }
}

@media only screen and (min-width:1600px) {
    .col-xxl {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%
    }
    .row-cols-xxl-auto>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto
    }
    .row-cols-xxl-1>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%
    }
    .row-cols-xxl-2>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%
    }
    .row-cols-xxl-3>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%
    }
    .row-cols-xxl-4>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%
    }
    .row-cols-xxl-5>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 20%
    }
    .row-cols-xxl-6>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%
    }
}

.product__items--action__list .product__items--action__btn:hover{
    background: coral;
}





.product__secondary--img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.product__items:hover .product__items--img {
    -webkit-transform: scale(1.04);
    transform: scale(1.04)
}

.product__items:hover .product__secondary--img {
    opacity: 1;
    visibility: visible
}



.product__items--img {
    display: block;
    width: 100%
}

.product__items--action__list {
    margin-right: .6rem
}

.product__items--action__list:last-child {
    margin-right: 0
}

@media only screen and (min-width:1366px) {
    .product__items--action__list {
        margin-right: .8rem
    }
}

@media only screen and (min-width:1600px) {
    .product__items--action__list {
        margin-right: 1.4rem
    }
}

.product__items--action__btn {
    border: 1px solid var(--border-color);
    height: 4.4rem;
    line-height: 4rem;
    padding: 0 .6rem;
    color: #606060;
    border-radius: .3rem
}

@media only screen and (min-width:992px) {
    .product__items--action__btn {
        height: 4rem;
        line-height: 3.6rem
    }
}

@media only screen and (min-width:1200px) {
    .product__items--action__btn {
        padding: 0 .7rem;
        height: 4.2rem;
        line-height: 3.8rem
    }
}

@media only screen and (min-width:1366px) {
    .product__items--action__btn {
        padding: 0 .7rem;
        height: 4.4rem;
        line-height: 4rem
    }
}

@media only screen and (min-width:1600px) {
    .product__items--action__btn {
        padding: 0 1rem;
        height: 4.4rem;
        line-height: 4rem
    }
}

@media only screen and (max-width:575px) {
    .product__items--action__btn {
        height: 3.6rem;
        line-height: 3.2rem
    }
}

.product__items--action__btn.add__to--cart {
    padding: 0 .7rem;
    font-size: 1.5rem
}

@media only screen and (min-width:1200px) {
    .product__items--action__btn.add__to--cart {
        font-size: 1.4rem;
        padding: 0 .6rem
    }
}

@media only screen and (min-width:1366px) {
    .product__items--action__btn.add__to--cart {
        padding: 0 1rem
    }
}

@media only screen and (min-width:1600px) {
    .product__items--action__btn.add__to--cart {
        padding: 0 1.3rem
    }
}

.product__items--action__btn.add__to--cart:hover span {
    color: #fff
}

.product__items--action__btn--svg {
    vertical-align: middle
}

@media only screen and (max-width:1365px) {
    .product__items--action__btn--svg {
        width: 2rem
    }
}

.product__items--action__btn:hover {
    background: coral;
    color: #fff;
    border-color: coral
}

.product__items--content {
    padding-top: 1.2rem
}

.product__items--content__subtitle {
    font-size: small;
    line-height: 2.2rem;
    font-weight: 900;
    color: #606060
}

@media only screen and (min-width:992px) {
    .product__items--content__subtitle {
        font-size: x-small;
    }
}

@media only screen and (max-width:400px) {
    .product__items--content__title {
        font-size: 1.3rem;
        line-height: 2rem;
        margin-bottom: .3rem
    }
}

@media only screen and (max-width:575px) {
    .add__to--cart__text {
        display: none
    }
}

.product__items--price {
    margin-bottom: .5rem;
}

.current__price {
    font-size: 20px;
    color: #606060;
}

.old__price {
    font-size: 20px;
    color: #606060;
    text-decoration: line-through;
}

.price__divided {
    width: 1.2rem;
    height: .1rem;
    color: #606060;
    vertical-align: middle;
    margin:0 1.2rem;
    font-size: xx-large;
}

.product__rating {
    margin-bottom: 1.6rem
}

.rating__list {
    margin-right: .5rem
}

@media only screen and (min-width:768px) {
    .rating__list {
        margin-right: .8rem;
    }
}

.rating__list:last-child {
    margin-right: 0;
}

.rating__list--icon {
    color: var(--yellow-color);
}



.product__items:hover .product__items--action__style2 {
    opacity: 1;
    visibility: visible;
    right: 1.5rem;
}

@media only screen and (max-width:575px) {
    .product__items:hover .product__items--action__style2 {
        right: 1rem;
    }
}

.product__items:hover .product__add-to__cart--btn__style2 {
    padding: .8rem 0;
    max-height: 5rem;
}

@media only screen and (min-width:1600px) {
    .product__items:hover .product__add-to__cart--btn__style2 {
        padding: 1.1rem 0;
    }
}

@media only screen and (max-width:575px) {
    .product__items:hover .product__add-to__cart--btn__style2 {
        padding: .5rem 0;
    }
}

.product__add-to__cart--btn__style2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: coral;
    color: #fff;
    text-align: center;
    padding: 0;
    max-height: 0;
}

@media only screen and (max-width:575px) {
    .product__add-to__cart--btn__style2 {
        padding: .3rem 0;
        max-height: 5rem;
    }
}

.product__add-to__cart--btn__style2:hover {
    background-color: coral;
    color: #fff!important;
}

.product__items--action__style2 {
    position: absolute;
    top: 1.5rem;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}

@media only screen and (max-width:575px) {
    .product__items--action__style2 {
        opacity: 1;
        visibility: visible;
        right: 1rem;
    }
}

.product__items--action__style2--list {
    margin-bottom: 1rem;
}

.product__items--action__style2--list:last-child {
    margin-bottom: 0;
}

.product__items--action__style2--btn {
    width: 3rem;
    height: 3rem;
    line-height: 2.6rem;
    text-align: center;
    border: 1px solid #606060;
    color: #606060;
    border-radius: .3rem;
}

.product__items--action__style2--btn:hover {
    background-color: coral;
    border-color: coral;
    color: #fff;
}

@media only screen and (min-width:480px) {
    .product__items--action__style2--btn {
        width: 3.5rem;
        height: 3.5rem;
        line-height: 3.2rem;
    }
}

@media only screen and (min-width:576px) {
    .product__items--action__style2--btn {
        width: 4rem;
        height: 4rem;
        line-height: 3.8rem;
    }
}

.product__grid--heading__maintitle {
    font-weight: 600;
    padding-bottom: .8rem;
}

@media only screen and (min-width:992px) {
    .product__grid--heading__maintitle {
        font-size: 2.4rem;
        line-height: 3rem;
    }
}

.product__grid--heading__maintitle::before {
    position: absolute;
    content: "";
    width: 6rem;
    height: .2rem;
    background: coral;
    bottom: 0;
    left: 0;
}

.product__grid--items__img {
    display: block;
}

.product__items--grid {
    background: #fff;
    -webkit-box-shadow: 1px 0 72px rgba(0, 0, 0, .1);
    box-shadow: 1px 0 72px rgba(0, 0, 0, .1);
    margin-bottom: 2rem;
}

@media only screen and (min-width:1600px) {
    .product__items--grid {
        margin-bottom: 2.5rem;
    }
}

.product__items--grid:last-child {
    margin-bottom: 0;
}

.product__items--grid__thumbnail {
    overflow: hidden;
    line-height: 1;
    width: 8rem;
}

@media only screen and (min-width:1366px) {
    .product__items--grid__thumbnail {
        width: 9rem;
    }
}

.product__items--grid__content {
    padding: .2rem 1rem .2rem 1.5rem;
    width: calc(100% - 8rem);
}

@media only screen and (min-width:1366px) {
    .product__items--grid__content {
        padding: .8rem .8rem .8rem 1.5rem;
        width: calc(100% - 9rem);
    }
}

.product__items--grid:hover .product__items--img {
    -webkit-transform: inherit;
    transform: inherit;
}



@media only screen and (min-width:992px) {
    .product__list--items__content .current__price {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
}

.product__details--info__price .current__price {
    font-size: 1.6rem;
}

@media only screen and (min-width:992px) {
    .product__details--info__price .current__price {
        font-size: 2rem;
    }
}


@media only screen and (min-width:992px) {
    .product__list--items__content .old__price {
        font-size: 1.6rem;
        line-height: 2.6rem
    }
}

.product__details--info__price .old__price {
    font-size: 1.4rem;
    margin-left: .8rem
}

@media only screen and (min-width:992px) {
    .product__details--info__price .old__price {
        font-size: 1.8rem
    }
}