<div class="instagram-images">
    <div class="insta">
      <p>on instagram</p>
    </div>
    <div class="insta-images">
      <a  href="https://www.instagram.com/p/CoAkq2vo0ND/?igshid=YmMyMTA2M2Y="><img src="../../../assets/images/home-page/SA_instagram3.jpg" alt="cake image"> </a>
      <a href="https://www.instagram.com/p/CjiITxGoKX1/?igshid=YmMyMTA2M2Y="><img src="../../../assets/images/home-page/SA_instagram1.jpg" alt="cake image"></a>
      <a href="https://www.instagram.com/p/CVvF7HzoIZj/?igshid=YmMyMTA2M2Y="><img src="../../../assets/images/home-page/SA_instagram4.jpg" alt="cake image"></a>
      <a href="https://www.instagram.com/p/CkFxqRyo6UP/?igshid=YmMyMTA2M2Y="><img src="../../../assets/images/home-page/SA_instagram5.jpg" alt="cake image"></a>
      <a href="https://www.instagram.com/p/Cj1L1F9ovWJ/?igshid=YmMyMTA2M2Y="><img class="mwiso" src="../../../assets/images/home-page/SA_image4.3.jpg" alt="cake image"></a>
    </div>
  </div>
