<div class="instagram-images">
    <div class="insta">
      <p>on instagram</p>
    </div>
    <div class="insta-images">
      <img src="https://img.freepik.com/free-vector/wedding-cake-illustration_1284-15482.jpg?w=740&t=st=1676892315~exp=1676892915~hmac=36939327a24927d709c1555258584f1177a19deb524707ef9d46990bd5762df8" alt="cake image">
      <img src="https://img.freepik.com/free-vector/sculpting-concept-illustration_114360-3235.jpg?w=740&t=st=1676892383~exp=1676892983~hmac=f7343ba4f3c30db1fcf4da5914f7ca2fb4139c49390303742bc273b70d706915" alt="cake image">
      <img src="https://img.freepik.com/premium-vector/isometrics-visiting-wedding-ceremony-bride-groom-registration-marriage-employee-registry-office-concludes-marriage_130740-1680.jpg" alt="cake image">
      <img src="https://img.freepik.com/premium-vector/isometric-image-gaming-virtual-reality-3d_81522-917.jpg" alt="cake image">
      <img class="mwiso" src="https://img.freepik.com/premium-vector/isometric-image-gaming-virtual-reality-3d_81522-4518.jpg" alt="cake image">
    </div>
  </div>
