<div class="flavours">
    <app-navbar></app-navbar>
    <div class="flavv">
        <div class="flav-text">
            <p>flavours</p>
        </div>
    </div>
    <div class="bod">
        <div class="about-flavours">
            <p>Using only the finest ingredients, Hayley is passionate about creating distinctive and delectable flavour combinations, each of which can be tailored to suit you and your wedding day. Featuring alternating layers of sponge, buttercream, fruit-infused preserves and thick sauces, Hayley has expertly curated a menu that will ensure your wedding cake is the nothing short of exceptional.</p>
        </div>
    
        <div class="rows">
            <div class="row one">
                <div class="flav">
                    <p class="h3">CLASSIC VANILLA</p>
                    <p class="desc">Madagascan vanilla infused sponge layered with wild strawberry or raspberry preserve and finished with a luxurious vanilla buttercream.</p>
                </div>
                <div class="flav">
                    <p class="h3">INTENSE DARK BELGIAN CHOCOLATE</p>
                    <p class="desc">An exquisite dark chocolate sponge layered with chocolate Swiss Meringue (or the option of vanilla) buttercream and thick chocolate sauce, with a dense brownie texture and rich flavour. With the option of fragrant orange curd and vanilla buttercream for a subtle hint of zest.</p>
                </div>
                <div class="flav">
                    <p class="h3">mocha & pecan delight</p>
                    <p class="desc">Artisan coffee and pecan sponge with alternating layers of chocolate sponge and notes of crushed pecan. Each sponge is soaked in bold espresso syrup and layered with silk espresso buttercream, along with a hazelnut chocolate praline.</p>
                </div>
                <div class="flav">
                    <p class="h3">PISTACHIO & ROSEWATER</p>
                    <p class="desc">Pistachio sponge accompanied with the finest raspberry curd, raspberry Swiss meringue buttercream and vanilla buttercream featuring delicate hints of rosewater.</p>
                </div>
                <div class="flav">
                    <p class="h3">ALMOND & CHERRY</p>
                    <p class="desc">A fluffy almond and cherry sponge expertly soaked with Italian almond sugar syrup and layered with a premium cherry preserve and almond buttercream.</p>
                </div>
                <div class="flav">
                    <p class="h3">WILD BLACKBERRY & APPLE</p>
                    <p class="desc">Subtly spiced with cinnamon and ginger, the apple and blackberry sponge is layered with autumnal blackberry jam and warming cinnamon buttercream.</p>
                </div>
            </div>
            <div class="row two">
                <div class="flav">
                    <p class="h3">LUXURY LEMON DRIZZLE</p>
                    <p class="desc">Lemon-infused sponge delicately drizzled with a zingy lemon syrup and lemon curd, layered with Swiss meringue buttercream.</p>
                </div>
                <div class="flav">
                    <p class="h3">PEACH BELLINI</p>
                    <p class="desc">Classic Madagascan vanilla sponge soaked with a light champagne syrup and layered with a divine peach compote, finished with a champagne and thyme infused Swiss meringue buttercream. (With the option of strawberry curd in place of peach compote for a sweet strawberries & champagne flavour.)</p>
                </div>
                <div class="flav">
                    <p class="h3">CRUSHED OREO & CREAM</p>
                    <p class="desc">A rich Belgian chocolate sponge blended with crushed Oreos and lightly layered with vanilla Swiss meringue buttercream.</p>
                </div>
                <div class="flav">
                    <p class="h3">CREAMY COCONUT & LIME</p>
                    <p class="desc">An indulgent coconut cream sponge drizzled with lashings of coconut syrup, layered with a zingy lime curd and Swiss meringue coconut buttercream.</p>
                </div>
                <div class="flav">
                    <p class="h3">PEACH INDULGENCE</p>
                    <p class="desc">Madagascan vanilla sponge infused with freeze dried raspberries featuring alternating layers raspberry and peach Swiss Meringue buttercream, accompanied with a sweet raspberry syrup and peach compote.</p>
                </div>
                <div class="flav">
                    <p class="h3">RICH BANOFFEE</p>
                    <p class="desc">An exquisitely sweet banana and caramel sponge softly layered with butterscotch crunch, caramel sauce and fluffy buttercream to finish.</p>
                </div>
                <div class="flav">
                    <p class="h3">LUXE SIGNATURE FRUIT CAKE</p>
                    <p class="desc">Oak aged brandy-soaked sponge filled with vine fruits including cherries, dates, sultanas, raisins and mixed peel, finished with a decadent marzipan layer for ultimate luxury.</p>
                </div>
            </div>
            <div class="row">
                <div class="flav">
                    <p class="h3">WHITE CHOCOLATE DECADENCE</p>
                    <p class="desc">A decadent Belgian white chocolate sponge complemented with passionfruit curd and white chocolate Swiss Meringue buttercream finished with a divine white chocolate sauce.</p>
                </div>
                <div class="flav">
                    <p class="h3">DELUXE SALTED CARAMEL</p>
                    <p class="desc">The finest Belgian chocolate sponge alternating with layers of rich caramel flavoured sponge, with a blanket of thick salted caramel sauce and salted caramel buttercream.</p>
                </div>
                <div class="flav">
                    <p class="h3">LAVISH GINGER & WHITE CHOCOLATE</p>
                    <p class="desc">Jamaican-inspired ginger sponge made with lightly roasted white chocolate buttercream, caramelised with the sweetest treacle and syrup.</p>
                </div>
                <div class="flav">
                    <p class="h3">LEMON & ELDERFLOWER INFUSION</p>
                    <p class="desc">A light lemon-flavoured sponge crafted with poppy seeds and coated with a subtly floral lemon and elderflower curd, along with layers of elderflower Swiss meringue buttercream.</p>
                </div>
                <div class="flav">
                    <p class="h3">SEVILLE ORANGE & ALMOND</p>
                    <p class="desc">Almond sponge cake delicately infused with Seville orange extract, layered with creamy orange blossom buttercream and a delectable marmalade.</p>
                </div>
                <div class="flav">
                    <p class="h3">TROPIC CARROT CAKE</p>
                    <p class="desc">Traditional carrot cake sponge made with an exotic fusion of pineapple, sultanas, apple, desiccated coconut and orange zest, gently layered with Valencian orange extract buttercream.</p>
                </div>
            </div>
        </div>
    </div>
    

    <app-enquiry-button></app-enquiry-button>
    <app-instagram-content></app-instagram-content>
</div>
<app-footer></app-footer>