<div class="flavours">
    <app-navbar2></app-navbar2>
    <div class="flavv">
        <div class="flav-text">
            <p>flavours</p>
        </div>
    </div>
    <div class="bod">
        <div class="about-flavours">
            <p>Using only the finest ingredients, Jane is passionate about creating distinctive and delectable flavour combinations, each of which can be tailored to suit you and your wedding day. Featuring alternating layers of sponge, buttercream, fruit-infused preserves and thick sauces, Jane has expertly curated a menu that will ensure your wedding cake is the nothing short of exceptional.</p>
        </div>
    
        <div class="rows">
            <div class="row one">
                <div class="flav">
                    <p class="h3">CLASSIC VANILLA</p>
                    <p class="desc">Vanilla infused sponge layered with strawberry or raspberry preserve and finished with a luxurious vanilla fresh cream.</p>
                </div>
                <div class="flav">
                    <p class="h3">Luxury lemon poppy blueberry</p>
                    <p class="desc">Lemon cake with poppy seeds and blueberry  infused sponge delicately drizzled with lemon card, layered with blueberry fillings and fresh cream or swiss meringue buttercream. To bring out the silkish taste in the mouth that leaves the taste buds excited.</p>
                </div>
                <div class="flav">
                    <p class="h3">Crushed oreos and cream</p>
                    <p class="desc">A rich chocolate sponge blended with crushed oreos and lightly layered with vanilla fresh cream or swiss meringue buttercream.</p>
                </div>
                <div class="flav">
                    <p class="h3">Creamy pina colada</p>
                    <p class="desc">An indulgent coconut and pineapple cake with a  hint of chocolate , spongy drizzled with lashing of coconut syrup, layered with zingy pineapple  curd with swiss meringue coconut butter cream.</p>
                </div>
                <div class="flav">
                    <p class="h3">Seville orange passion cake</p>
                    <p class="desc">Orange passion cake delicately infused with seville orange extracts layered with fresh passion fruit and fresh cream or swiss meringue buttercream.</p>
                </div>
                <div class="flav">
                    <p class="h3">Tropical carrot cake</p>
                    <p class="desc">Traditional carrot cake sponge made with exotic fusion of carrots,sultanas,orange zest, lemon zest, with cinnamon, gentle layered with cheese cream and finished with swiss meringue buttercream.</p>
                </div>
            </div>
            <div class="row two">
                <div class="flav">
                    <p class="h3">MOCHA  DELIGHT</p>
                    <p class="desc">Artisan coffee sponge with alternating layers of chocolate sponge and  Each sponge is soaked in bold espresso syrup and layered with silk espresso buttercream, along with a hazelnut chocolate praline.</p>
                </div>
                <div class="flav">
                    <p class="h3">LEMON &  INFUSION</p>
                    <p class="desc">A light lemon-flavoured sponge crafted with poppy seeds and infused  with a subtly  lemon curd, along with layers of  Swiss meringue buttercream.or fresh cream.</p>
                </div>
                <div class="flav">
                    <p class="h3">CHOCOLATE ORANGE</p>
                    <p class="desc">An exquisite dark chocolate sponge alternating with orange  sponge layered with chocolate Swiss Meringue (or the option of vanilla) buttercream and thick chocolate sauce,(ganache) with a dense brownie texture and rich flavour. With the option of fragrant orange curd and vanilla buttercream for a subtle hint of zest.</p>
                </div>
                <div class="flav">
                    <p class="h3">DELUXE SALTED CARAMEL</p>
                    <p class="desc">The finest  chocolate sponge alternating with layers of rich caramel flavoured sponge, with a blanket of thick salted caramel sauce and salted caramel buttercream.</p>
                </div>
                <div class="flav">
                    <p class="h3">RICH BANANA AND CARAMEL </p>
                    <p class="desc">An exquisitely sweet banana and caramel sponge softly layered with butterscotch crunch, caramel sauce and fluffy buttercream to finish.</p>
                </div>
                <div class="flav">
                    <p class="h3">Blueberry & Lemon</p>
                    <p class="desc">Blueberry sponge alternating with lemon sponge infused with lemon curd layered with blueberry fillings and lemon fresh cream. </p>
                </div>
                <div class="flav">
                    <p class="h3">LUXE SIGNATURE FRUIT CAKE</p>
                    <p class="desc">Oak aged rum or brandy soaked moist cake filled with vine fruits including, cherries,sultanas,raisins, , black currants and mixed peals finished with soaking the cake in fine wine for maturity and brings out the ultimate luxury moist and heavenly taste.</p>
                </div>
            </div>
            <div class="row">
                <div class="flav">
                    <p class="h3">Luxury Chocolate fudge cake</p>
                    <p class="desc">Chocolate sponge! Layered with ganache to give it that smooth heavenly taste.</p>
                </div>
                <div class="flav">
                    <p class="h3">SPICED CARROT & ORANGE</p>
                    <p class="desc">Moist carrot & orange cake warmed with mixed spice & cinnamon layered with smooth swiss meringue  vanilla buttercream  or fresh cream.</p>
                </div>
                <div class="flav">
                    <p class="h3">CARAMEL DELUXE</p>
                    <p class="desc">Moist caramel cake layered with sumptuous salted caramel and smooth salted caramel buttercream.</p>
                </div>
                <div class="flav">
                    <p class="h3">TIRAMISU TUXEDO</p>
                    <p class="desc">Alternate layers of light vanilla cake and rich chocolate cake filled with smooth coffee buttercream.</p>
                </div>
                <div class="flav">
                    <p class="h3">SEVILLE ORANGE & ALMOND</p>
                    <p class="desc">Almond sponge cake delicately infused with Seville orange extract, layered with creamy orange blossom buttercream and a delectable marmalade.</p>
                </div>
                <div class="flav">
                    <p class="h3">RED VELVET</p>
                    <p class="desc">Airy vibrant red velvet cake layered with smooth  vanilla cheese buttercream.</p>
                </div>
            </div>
        </div>
    </div>
    

    <call-to-action></call-to-action>
    <app-instagram-content></app-instagram-content>
</div>
<app-footer></app-footer>