<div class="flavours">
    <app-navbar></app-navbar>
    <div class="flav">
        <div class="flav-text">
            <p>flavours</p>
        </div>
    </div>
    <div class="about-flavours">
        <p>Using only the finest ingredients, Hayley is passionate about creating distinctive and delectable flavour combinations, each of which can be tailored to suit you and your wedding day. Featuring alternating layers of sponge, buttercream, fruit-infused preserves and thick sauces, Hayley has expertly curated a menu that will ensure your wedding cake is the nothing short of exceptional.</p>
    </div>

    <app-enquiry-button></app-enquiry-button>
    <app-instagram-content></app-instagram-content>
</div>
<app-footer></app-footer>