.flavv{
    border: 25px solid #fff;
    background-color: none;
}
.flav-text{
    text-align: start;
    text-transform: capitalize;
    font-size: 20px;
    padding-left: 90px;
    padding-top: 350px;
    padding-bottom: 40px;
    height: 65vh;
    border: 20px;
    background: rgb(0, 0, 0, .4);
}
.flav-text p{
    text-transform: uppercase;
    padding: 10px;
    font-family: 'Add light italic';
    letter-spacing: 4px;
    line-height: 24px;
    color: #fff;
}

.bod{
    background-color: rgb(235, 231, 231);
}

.about-flavours{
    padding: 5% 12%;
}

.about-flavours p{
    font-size: 14px;
    text-align: justify;
    letter-spacing: 1.12px;
    line-height: 25.2px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 0px;
}

.rows{
    background-color: #fff;
    margin: 0 5%;
    display: flex;
    padding: 40px 20px;
}

.row{
    margin-right: 10px;
}

.one, .two{
    border-right: 1px solid #d8c5c2;
}

.flav{
    /* background-color: blue; */
    margin: 10px 0;
    padding: 0 20px;
}

.h3{
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    line-height: 32.4px;
    letter-spacing: 3.6px;
    font-size: 18px;
    font-family: "Addington Thin";
    color: #686868;
}

.desc{
    line-height: 21px;
    letter-spacing: 1.12px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: #686868;
}

@media only screen and (max-width:850px) {
    .flav-text{
        text-align: start;
        text-transform: capitalize;
        font-size: 20px;
        padding-left: 90px;
        padding-top: 300px;
        padding-bottom: 40px;
        height: 35vh;
        border: 20px;
        background: rgb(0, 0, 0, .4);
    }

}

@media only screen and (max-width:500px) {

    .flavv{
        border: 15px solid #fff;
        background-color: none;
    }
    .flav-text{
        text-align: center;
        text-transform: capitalize;
        font-size: 20px;
        padding-left: 0;
        padding-top: 35%;
        padding-bottom: 0;
        height: 35vh;
        border: 20px;
        background: rgb(0, 0, 0, .4);
    }

    .about-flavours{
        padding: 5% 8%;
    }

    .about-flavours p{
        font-size: 14px;
        text-align: justify;
        letter-spacing: 1.12px;
        line-height: 25.2px;
        font-family: 'Times New Roman', Times, serif;
        padding-bottom: 0px;
    }

    .rows{
        background-color: #fff;
        margin: 0 0;
        display: block;
        padding: 40px 20px;
    }

    .one, .two{
        border-right: 0;
    }

    .h3{
        margin-bottom: 20px;
        text-align: center;
        text-transform: uppercase;
        line-height: 32.4px;
        letter-spacing: 3.6px;
        font-size: 14px;
        font-family: "Addington Thin";
        color: #686868;
    }
}