<div class="blogs-container">
  <app-navbar2></app-navbar2>
  <div class="blog-text">
    <p>the blog</p>
  </div>
  <div class="blog-content-col">
    <div class="row1">
      <h2>elegant, sophisticated, and luxury all-white wedding cakes</h2>
      <p>december 23, 2019</p>
      <img src="https://img.freepik.com/free-photo/wedding-cake_1157-538.jpg?w=826&t=st=1677129632~exp=1677130232~hmac=35e6d8b5144e9b015113eb61ec044b3de72c6e5e5f3c48002e35a08d28d3a226" alt="cake image">
      <h4>A few weeks ago, I shared some colourful wedding cake ideas, to show that luxury and stylish cakes don’t always have to use a pared back palette. Today, however, I want to look at some elegant, sophisticated, and all-white luxury wedding cakes. In the same way luxury wedding cakes don’t have to use soft colours, […]</h4>
      <div class="btn-1">
        <button type="button">read more</button>
      </div>
    </div>
    <div class="row2">
      <p class="welcome">welcome</p>
      <img src="https://img.freepik.com/free-photo/young-woman-holding-tablet-work_23-2149116577.jpg?w=360&t=st=1677244017~exp=1677244617~hmac=5b1185cca0bc534717aa112e444d61d529563e0069bf6d60c1c4472cdf9f4680" alt="lady image">
      <div class="social-links">
        <ul class="links">
          <li><i class="fa-brands fa-instagram"></i></li>
          <li><i class="fa-brands fa-facebook-f"></i></li>
          <li><i class="fa-brands fa-linkedin"></i></li>
        </ul>
      </div>
      <p class="cats">CATEGORIES</p>
      <div class="categories">
        <p>design details</p>
        <p>inspiration</p>
        <p>real weddings</p>
        <p>sugar flowers</p>
        <p>tips & advice</p>
      </div>
    </div>

  </div>  
  <app-enquiry-button></app-enquiry-button>
  <app-instagram-content></app-instagram-content>
</div>
<app-footer></app-footer>
