<div class="blogs-container">
  <app-navbar2></app-navbar2>
  <div class="blog-text">
    <p>the blog</p>
  </div>
  <div class="blog-content-col">
    <div class="blog-title">
        <p>elegant, sophisticated, and luxury all-white wedding cakes</p>
    </div>
    <div class="blog-date">
        <p>december 23, 2019</p>
    </div>
    <div class="blog-image">
        <img src="https://img.freepik.com/free-photo/wedding-cake_1157-538.jpg?w=826&t=st=1677129632~exp=1677130232~hmac=35e6d8b5144e9b015113eb61ec044b3de72c6e5e5f3c48002e35a08d28d3a226" alt="cake image">
    </div>
    <div class="blog-text">
        <p>A few weeks ago, I shared some colourful wedding cake ideas, to show that luxury and stylish cakes don’t always have to use a pared back palette. Today, however, I want to look at some elegant, sophisticated, and all-white luxury wedding cakes. In the same way luxury wedding cakes don’t have to use soft colours, […]</p>
    </div>
    <div class="blog-button">
        <button type="button">read more</button>
    </div>
  </div>  
  <app-enquiry-button></app-enquiry-button>
  <app-instagram-content></app-instagram-content>
</div>
<app-footer></app-footer>
