<div class="container-full">
    <div class="topper">
        <div class="left">
            <p class="reta">Top <span style="color: coral;">Sales</span></p>
          </div>
        <div class="right">
            <a routerLink="/shop" class="btn reeta">More Products <i class="fa-solid fa-angles-right"></i></a>
        </div>
    </div>
    <div class="bottom">
      <div class="car one" *ngFor="let prod of topSales; let i = index">
        <a [routerLink]="['/shop/product-details/',prod.id]"><img class="car-img-top" src="{{prod.image}}" alt="Car image cap"></a>
        <div class="car-body">
          <p class="date"> {{prod.category_name | titlecase}}</p>
          <a [routerLink]="['/shop/product-details/',prod.id]"><p class="car-title">{{prod.name | uppercase}}</p></a>
          <div class="price-tag">
            <p class="new-price">Kes {{ prod.new_price}}</p>
            <span>-</span>
            <p class="old-price">Kes {{ prod.old_price }}</p>
          </div>
            <button (click)="openWhatsApp(i)"  class="whatsapp btn"><i class="fa-brands fa-whatsapp"></i> Buy Via Whatsapp</button>        
        </div>
      </div>
    </div>
   </div>