.gal{
    border: 25px solid #fff;
    background-color: none;
}
.gal-text{
    text-align: start;
    text-transform: capitalize;
    font-size: 20px;
    padding-left: 90px;
    padding-top: 350px;
    padding-bottom: 40px;
    height: 65vh;
    border: 20px;
}
.gal-text p{
    text-transform: capitalize;
    padding: 10px;
    font-family: 'Add light italic';
    letter-spacing: 4px;
    line-height: 6px;
}
.gal-text p .p{
    text-transform: capitalize;
    font-family: 'Add light italic';
    letter-spacing: 4px;
    line-height: 6px;
}
.about-gallery{
    text-align:left;
    background-color: rgb(235, 231, 231);
    height: 40vh;
}
.about-gallery p{
    font-size: 14px;
    padding: 80px;
    text-align: center;
    letter-spacing: 1.12px;
    padding-top: 100px;
    line-height: 25.2px;
    font-family: 'Add light';
    padding-bottom: 0px;
}
.gal-categories{
    background-color: #ffffff;
}
.gal-text-cat{
    display: flex;
    flex-direction: row;
    text-align: center;
    letter-spacing: 4px;
    line-height: 24px;
    padding-top: 100px;
    padding-bottom: 30px;
    padding-left: 160px;
    text-transform: uppercase;
    font-family: 'again';
}
.gal-text-cat p{
    padding-right: 70px;
    font-size: 18px;
}
.gal-image-cat{
    display: flex;
    flex-direction: row;
    padding-left: 110px;
    padding-bottom: 80px;
}
.gal-image-cat img{
    width: 40vh;
    height: 60vh;
    border: 1px solid #c1c1c0;
    padding: 8px;
    margin-left: 10px;
}