.gal{
    border: 25px solid #fff;
    background: rgb(0, 0, 0, .4);
    height: 60vh;
   
}
.gal-text{
    font-family: "Add light italic";
    font-size: 20px;
    margin-top: 17%;
    margin-left: 4%;
    letter-spacing: 4px;
    line-height: 36px;
    color: #fff;
    text-transform: capitalize;
}


.about-gallery{
    text-align:left;
    background-color: #f8ebcf;
    padding: 120px 100px;
}

.about-gallery p{
    font-size: 20px;
    text-align: center;
    letter-spacing: normal;
    line-height: 28.1px;
    font-family: Times New Roman;
   
}
.gal-categories{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}
.gal-text-cat{
    margin: 80px 7%;
    display: flex;
    grid-gap: 15px;
}

.gal-text-down p {
    font-style: Add;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 24px;
    color: #8E3200;
}

.gal-text-down img{
    width: 45vh;
    height: 60vh;
    border: 1px solid #c1c1c0;
    padding: 8px;
    margin-left: 10px;
}

@media only screen and (max-width: 850px) {
.gal{
    border: 15px solid #fff;
    height: 50vh;
}
.gal-text{
    font-size: 20px;
    margin-top: 50%;
    margin-left: 4%;
    letter-spacing: 4px;
    line-height: 36px;
}

.about-gallery{
    padding: 80px 60px;
}

.about-gallery p{
    font-size: 27px;
    line-height: 35px;
}

.gal-text-cat{
    margin: 80px 3%;
    display: block;
    grid-gap: 0;
    width: 100%;
}
.gal-text-down {
    margin: 8% 7%;

}
.gal-text-down img{
    width: 80%;
    height: 50vh;
    border: 1px solid #c1c1c0;
    padding: 8px;
    margin-left: 10%;
}
.gal-text-down p {
    font-size:  28px;
}
}

@media only screen and (max-width: 500px) {

.gal{
    border: 15px solid #fff;
    background-color: none;
    height: 40vh;
    
}

.gal-text{
    font-size: 16px;
    margin-top: 35%;
    margin-left: 0;
    text-align: center;
    letter-spacing: 4px;
    line-height: 20px;
}
.about-gallery{
    padding: 30px 40px;
}

.about-gallery p{
    font-size: 12px;
    line-height: 25px;
}

    .gal-text-cat{
        margin: 50px 2%;
        display: block;
        grid-gap: 0;
    }
    .gal-text-down {
        margin: 3% 7%;

    }
    .gal-text-down img{
        width: 100%;
        height: 50vh;
        border: 1px solid #c1c1c0;
        padding: 8px;
        margin-left: 0;
    }

    .gal-text-down p {
        font-size:  16px;
    }

}

