<div class="gallery">
    <app-navbar2></app-navbar2>
    <div class="gal">
        <div class="gal-text">
            <p>the wedding</p>
            <p class="p">cake</p>
        </div>
    </div>
    <div class="about-gallery">
        <p>Hayley Elizabeth Cake Design's signature style is refined luxury without limits. Recognised for her expertly created sugar flowers and sought-after flavours, we invite you to immerse yourself in the beauty of Hayley’s wedding cakes. You’ll also find a selection of Hayley’s wedding cake tables, which offer a collection of delectable desserts that are just waiting to be devoured.</p>
    </div>

    <app-enquiry-button></app-enquiry-button>
    <app-instagram-content></app-instagram-content>
</div>
<app-footer></app-footer>
