<div class="gallery">
    <app-navbar2></app-navbar2>
    <div class="gal">
        <div class="gal-text">
          <p>The wedding cake</p>
            <p>gallery</p>
        </div>
    </div>
    <div class="about-gallery">
        <p>SweetArt Luxury Cake Design's signature style is refined luxury without limits. Recognised for her expertly created sugar flowers and sought-after flavours, we invite you to immerse yourself in the beauty of Jane's wedding cakes. You'll also find a selection of Jane's wedding cake tables, which offer a collection of delectable desserts that are just waiting to be devoured.</p>
    </div>
    
    <div class="gal-categories">
        <div class="gal-text-cat">
            <div class="gal-text-down">
                <p>wedding cakes</p>
                <img src="../../../assets/images/gallery-images/SA_galleryimage1.jpg" alt="cake image">
            </div>

            <div class="gal-text-down">
                <p>dessert tables</p>
                <img src="../../../assets/images/gallery-images/SA_galleryimage2.jpg" alt="cake image">
            </div>

            <div class="gal-text-down">
                <p>sugar flowers</p>
            <img src="../../../assets/images/gallery-images/SA_galleryimage3.jpg" alt="cake image">
            </div>
           
           <div class="gal-text-down">
            <p>celebration cakes</p>
            <img src="../../../assets/images/gallery-images/SA_galleryimage4.jpg" alt="cake image">
           </div>
           
        </div>
    </div>
        

    </div>
    <app-enquiry-button></app-enquiry-button>
    <app-instagram-content></app-instagram-content>

<app-footer></app-footer>
