<div class="gallery">
    <app-navbar2></app-navbar2>
    <div class="gal">
        <div class="gal-text">
          <p>The wedding cake</p>
            <p>gallery</p>
        </div>
    </div>
    <div class="about-gallery">
        <p>SweetArt Luxury Cake Design's signature style is refined luxury without limits. Recognised for her expertly created sugar flowers and sought-after flavours, we invite you to immerse yourself in the beauty of Jane's wedding cakes. You'll also find a selection of Jane's wedding cake tables, which offer a collection of delectable desserts that are just waiting to be devoured.</p>
    </div>
    
    <div class="gal-categories">
        <div class="gal-text-cat">
            <div class="gal-text-down">
                <p>wedding cakes</p>
                <img src="https://as1.ftcdn.net/v2/jpg/01/31/32/02/1000_F_131320283_w59FjpzArAjizyabJwejFWFStTmASWXF.jpg" alt="cake image">
            </div>

            <div class="gal-text-down">
                <p>dessert tables</p>
                <img src="https://as2.ftcdn.net/v2/jpg/02/02/99/97/1000_F_202999764_1GPQpAQBqaoyaffWiztZ2GNmqCG22FOu.jpg" alt="cake image">
            </div>

            <div class="gal-text-down">
                <p>sugar flowers</p>
            <img src="https://as2.ftcdn.net/v2/jpg/00/94/61/09/1000_F_94610929_ndkI6FTWt3HHriX3EsUBANdWvYhdhPFK.jpg" alt="cake image">
            </div>
           
           <div class="gal-text-down">
            <p>celebration cakes</p>
            <img src="https://as1.ftcdn.net/v2/jpg/02/94/07/34/1000_F_294073497_LVshoP0DUykRm78auvCmHktuR9ZD1ExD.jpg" alt="cake image">
           </div>
           
        </div>
    </div>
        

    </div>
    <app-enquiry-button></app-enquiry-button>
    <app-instagram-content></app-instagram-content>

<app-footer></app-footer>
