.blogs-container{
    padding: 0 0;
}
.blog-text{
    font-family: 'add';
    font-size: 20px;
    text-align: center;
    letter-spacing: 4px;
    line-height: 24px;
    border: 30px #fff solid;
    height: 70vh;
    background-color: rgb(0, 0, 0, .4);
}
.blog-text p{
    padding-top: 350px;
    padding-right: 1000px;
    text-transform: uppercase;
    font-family: 'add light';
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 4px;
    color: #fff;
}
.blog-content-col{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #fff;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 5%;
}
.row1{
    padding-right: 100px;
    width: 75%;
    text-align: center;
    margin-left: 20px;
    display: block;
}
.loop{
    margin-top: 5%; 
    border-bottom: 1px grey solid;
}
.row1 h2{
    color: #8E3200;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 3.6px;
    line-height: 16px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 30px;
}
.row1 p{
    font-family: 'times new roman';
    color: #A64B2A;
    font-weight: 800;
    font-style: italic;
    font-size: 16px;
    text-align: start;
    letter-spacing: 1.16px;
    line-height: 16px;
    text-transform: capitalize;
    text-align: center;
}
.row1 img{
    width: 30vw;
    height: 70vh;
}
.row1 h4{
    font-family: 'Times New Roman';
    line-height: 25.2px;
    color: rgb(133, 122, 122);
    font-size: 20px;
    letter-spacing: 1.12px;
    text-align: justify;
    padding-top: 50px;
}
.btn-1{
    text-align: center;
    margin: 20px 0;
    color: white;
}

.btn-1 .button{
    font-size: 20px;
    font-family: 'add light';
    font-style: italic;
    line-height: 32px;
    border: none;
    background-color:#A64B2A;
    padding: 20px 60px;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.2px;
    color: #fff;
    text-transform: capitalize;
}
.row2{
    width: 25%;
    height: 120vh;
    margin-bottom: 10%;
    border-left: 1px grey solid;
}
.row2 .welcome{
    font-family: 'add light';
    font-style: italic;
    font-size: 16px;
    text-align: center;
    letter-spacing: 3.2px;
    line-height: 28.8px;
    justify-content: center;
    color: #8E3200;
    font-weight: 700;
    text-transform: capitalize;
}

.row2 img{
    width: 32vh;
    height: 32vh;
    margin-left: 40px;
}

.links{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    font-size: 25px;
    padding-top: 40px;
    padding-left: 80px;
    gap: 30px;
    color: #8E3200;
}

.cats{
    text-transform: uppercase;
    text-align: center;
    font-family: Add;
    font-size: 17px;
    line-height: 20.4px;
    letter-spacing: 3.4px;
    color: #8E3200;
    padding-top: 30px;
    font-weight: 700;
}
.categories{
    justify-content: center;
    padding-left: 30%;
}
.categories p{
    padding-top: 20px;
}
.p{
    text-transform: capitalize;
    text-align: center;
    font-family: Add;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: normal;
    text-decoration: none;
    color: #A64B2A; 
}

.p:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 850px) {
    .blog-text{
        font-family: 'add';
        font-size: 20px;
        text-align: center;
        letter-spacing: 4px;
        line-height: 24px;
        border: 20px #fff solid;
        height: 40vh;
        background-color: rgb(0, 0, 0, .4);
    }
    .blog-text p{
        padding-top: 350px;
        margin-left: 10%;
        padding-right: 0;
        text-transform: uppercase;
        font-family: 'add light';
        font-size: 20px;
        line-height: 24px;
        text-align: left;
        letter-spacing: 4px;
        color: #fff;
    }

    .blog-content-col{
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #fff;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 50px;
        padding-bottom: 5%;
    }

    .row1{
        padding-right: 60px;
        width: 75%;
        text-align: center;
        margin-left: 20px;
        display: block;
    }

    .row2 img{
        width: 22vw;
        height: 22vh;
        margin-left: 10px;
    }

    .links{
        display: flex;
        list-style-type: none;
        flex-direction: row;
        font-size: 20px;
        padding-top: 40px;
        padding-left: 30px;
        gap: 40px;
    }
}

@media only screen and (max-width: 500px) {
    .blog-text{
        font-family: 'add';
        font-size: 20px;
        text-align: center;
        letter-spacing: 4px;
        line-height: 24px;
        border: 20px #fff solid;
        height: 40vh;
        background: rgb(0, 0, 0, .4);
    }

    .blog-text p{
        padding-top: 40%;
        margin-left: 10%;
        padding-right: 0;
        text-transform: uppercase;
        font-family: 'add light';
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 4px;
        color: #fff;
    }

    .row1{
        width: 100%;
        padding-right: 0;
        text-align: center;
        margin-left: 0;
        margin: 0 5%;
        display: block;
    }

    .row1 h2{
        font-family: 'add';
        font-size: 14px;
        letter-spacing: 2.8px;
        line-height: 21.6px;
        text-transform: uppercase;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .row2{
        display: none;
    }
}