<div class="blogs-container">
    <app-navbar2></app-navbar2>
    <div class="blog-text">
      <p>the blog</p>
    </div>
    <div class="blog-content-col">
      <div class="row1" >
        <div class="loop" *ngFor="let blog of blogs">
          <h2>{{blog.heading}}</h2>
          <p>{{blog.created_at | date}}</p>
          <img src="{{blog.image}}" alt="cake image">
          <h4>{{blog.text}}</h4>
          <div class="btn-1">
            <a [routerLink]="['/blogs/blog-details/',blog.id]" class="button">read more</a>
          </div>
      </div>
      </div>
      <div class="row2">
        <p class="welcome">welcome</p>
        <img src="../../../assets/images/about-page/SA_portfolio.jpg" alt="lady image">
        <div class="social-links">
          <ul class="links">
            <a href="https://www.instagram.com/" target="_blank"><li><i class="fa-brands fa-instagram"></i></li></a>
            <a href="https://www.facebook.com/" target="_blank"><li><i class="fa-brands fa-facebook-f"></i></li></a>
            <a href="https://www.linkedIncom/" target="_blank"><li><i class="fa-brands fa-linkedin"></i></li></a>
          </ul>
        </div>
        <p class="cats">CATEGORIES</p>
        <div class="categories" *ngFor="let cat of categoryblogs">
          <p><a class="p" [routerLink]="['/blogs/category-blogs/',cat.id]">{{cat.name}}</a></p>
        </div>
      </div>
  
    </div>  
    <app-enquiry-button></app-enquiry-button>
    <app-instagram-content></app-instagram-content>
  </div>
  <app-footer></app-footer>
  