.btn-1{
    padding: 100px 36%;
    text-align: center;
    color: white;
    background-color: #FFEBC1;
}

.btn-1 a{
    font-size: 18px;
    font-family: 'add light italic';
    line-height: 28.8px;
    border: none;
    background-color:#A64B2A;
    padding: 20px 60px;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
    color: white;
}

@media only screen and (max-width: 850px) {
    .btn-1{
        padding: 70px 20%;
        text-align: center;
        color: white;
    }
    
    .btn-1 a{
        font-size: 20px;
        border: none;
        padding: 20px 70px;
        display: inline-block;
        text-decoration: none;
        letter-spacing: 3px;
    }
  }

  @media only screen and (max-width: 500px) {
    .btn-1{
        padding: 50px 80px;
        text-align: center;
        color: white;
    }
    
    .btn-1 a{
        font-size: 16px;
        border: none;
        padding: 10px 20px;
        display: inline-block;
        text-decoration: none;
        letter-spacing: 3px;
    }
  }

  @media only screen and (max-width: 450px) {
    .btn-1{
        padding: 50px 80px;
        text-align: center;
        color: white;
    }
    
    .btn-1 a{
        font-size: 16px;
        border: none;
        padding: 8px 14px;
        display: inline-block;
        text-decoration: none;
        letter-spacing: 3px;
    }
  }