header{
  padding: 0;
  margin:0;
  background-color: transparent;
}

.container{
  padding: 0 0;
  margin: 0;
  min-width: 100%;
}

.menu{
  padding: 10px 0;
  justify-content: center;
  background:rgb(184, 136, 104);
}

.menu ul{
  padding: 0;
  margin: 0;
}

.menu ul li{
  list-style-type: none;
  font-family: "Times New Roman";
  color: #fff;
  display: inline-block;
  margin-left: 80px;
}

.menu ul li:hover{
  cursor: pointer;
  transition: .5s ease-in-out;
}

.nav-link{
  /* /* color: #fff; */
  color: rgb(77, 33, 4); 
  text-decoration: none;
  font-weight: 800;
  font-size: small;
  padding: 8px 10px;
  line-height: 1em;
  font-weight: 800;
  font-size: 15px;
  transition: color .25s;
  }

.nav-link:hover {
  color:rgb(206, 128, 76);
  font-weight: 800;
  cursor: pointer;
}

.active-link{
  color: #FFC93C;
}
@media only screen and (max-width: 850px) {

  header{
    padding: 8px 0;
  }

  .menu{
    position: absolute;
    right: -100%;
    top: 44px;
    width: 100%;
    height: 100%;
    padding: 20% 0;
    background-color: #f5f0ef;
    transition: .4s ease-in-out;
    z-index: 999;
  }

  .menu ul li{
    display: block;
    text-align: center;
    color: #222;
    margin: 0;
    padding: 20px 26px ;
  }

  .nav-link{
    color: #686868;
    text-transform: uppercase;
  }

  .menu-icon{
    display: inline-block;
    position: relative;
    left: 0;
    top: 20px;
    float: right;
  }

  .menu-icon span{
    width: 32px;
    height: 3px;
    background: #fff;
    display: block;
    transition: .2s ease-in-out;
  }

  .menu-icon span:nth-child(2){
    margin: 4px 0;
  }

  .menu-icon-Class span:nth-child(2){
    display: none;
  }

  .menu-icon-Class span:nth-child(1){
    transform: rotate(45deg);
  }

  .menu-icon-Class span:nth-child(3){
    transform: rotate(-45deg);
    margin-top: -3px;
  }

  .menuClass{
    right: 0;
    transition: .4s ease-in-out;
  }
}

@media only screen and (max-width: 500px) {

  header{
    padding: 10px 0;
    background-color: transparent;
  }

  .container{
    width: 100%;
  }

  .menu{
    position: absolute;
    right: -100%;
    top: 50px;
    width: 100%;
    height: 100%;
    background-color: #f5f0ef;
    transition: .4s ease-in-out;
    z-index: 999;
  }

  .menu ul li{
    display: block;
    text-align: center;
    margin: 0;
    padding: 20px 26px ;
  }

  .nav-link{
    color: #686868;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
  }

  .menu-icon{
    display: inline-block;
    position: relative;
    right: 0;
    top: 20px;
    float: right;
  }

  .menu-icon span{
    width: 32px;
    height: 3px;
    background: #fff;
    display: block;
    transition: .2s ease-in-out;
  }

  .menu-icon span:nth-child(2){
    margin: 4px 0;
  }

  .menu-icon-Class span:nth-child(2){
    display: none;
  }

  .menu-icon-Class span:nth-child(1){
    transform: rotate(45deg);
  }

  .menu-icon-Class span:nth-child(3){
    transform: rotate(-45deg);
    margin-top: -3px;
  }

  .menuClass{
    right: 0;
    transition: .4s ease-in-out;
  }
  
}