<header>
  <div class="container">
    <div class="flexa text-center">
      <div class="menu-icon" [class.menu-icon-Class]="menu_icon_var" (click)="openMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="menu" [class.menuClass]="menuVar">
        <ul>
          <li><a class="nav-link active" routerLink="/about" routerLinkActive="active-link" ariaCurrentWhenActive="page">about</a></li>
          <li><a class="nav-link" routerLink="/experience" routerLinkActive="active-link" ariaCurrentWhenActive="page">the experience</a></li>
          <li><a class="nav-link" routerLink="/flavours" routerLinkActive="active-link" ariaCurrentWhenActive="page">flavours</a></li>
          <li><a class="nav-link" routerLink="/gallery" routerLinkActive="active-link" ariaCurrentWhenActive="page">gallery</a></li>
          <li><a class="nav-link" routerLink="/shop" routerLinkActive="active-link" ariaCurrentWhenActive="page">shop</a></li>
          <li><a class="nav-link" routerLink="/blogs" routerLinkActive="active-link" ariaCurrentWhenActive="page">blogs</a></li>
          <li><a class="nav-link" routerLink="/enquire" routerLinkActive="active-link" ariaCurrentWhenActive="page">enquire</a></li>
        </ul>
      </div>
    </div> 
  </div>
</header>