<div class="container-full">
    <div class="nav">
        <app-navbar></app-navbar>
    </div>
    <div class="overlay">
        <div class="left">
            <img src="https://img.freepik.com/free-photo/beautiful-wedding-cake-decorated-with-white-roses-white-wooden-background_24972-177.jpg?w=740&t=st=1676903048~exp=1676903648~hmac=41c4b33fb3ed12f2274c5be20e83c5d97fddc83f8648c082068d93753e3ce1e8" alt="">
        </div>
        <div class="right">
            <p class="h1">investment</p>
            <p>Made for clients who want a visually spectacular wedding cake that has been designed around their distinctive style. Book an initial consultation to enjoy your first taste of Hayley Elizabeth Cake Design, where you can discover the menu and discuss your visions. There is a fee for a tasting consultation or taster box if you have not initially booked your date. After a tasting and design consultation, Hayley provides couples with a bespoke proposal detailing the creation and design of your wedding cake. Each wedding cake is hand-delivered within London and the South East. 
                Cakes start from £725.00 for 3 tiers.</p>
        </div>
    </div>
</div>

<app-footer></app-footer>