.overlay{
    background-color: #fff;
    display: inline-flex;
    width: 100%;
    padding: 50px 10% ;
}

.left{
    width: 40%;
    margin-right: -3%;
    height: 75vh;
}

.left img{
 float: center;   
 width:100%;
 height: 75vh;
}

.right{
    width: 60%;
    height: 60vh;
    margin-top: 5%;
    background-color: #f8ebcf;
    padding: 5% 80px ;
}

.h1{
    padding: 20px 0;
    letter-spacing: 4px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #8E3200;
}

.right .p{
    text-align: justify;
    line-height: 27.2px;
    color: #686868;
    text-align: justify;
    font-size: 17px;
    font-family: 'add light';
    letter-spacing: 1.12px; 
}

.experience-text{
    text-align: end;
    text-transform: capitalize;
    font-size: 20px;
    padding-right: 90px;
    padding-top: 200px;
    padding-bottom: 40px;
    background: rgb(0, 0, 0, .4);
    border: 20px solid #fff;
}
.experience-text p{
    text-transform: uppercase;
    padding: 10px;
    font-family: 'Add light';
    letter-spacing: 4px;
    color: #fff;
    line-height: 24px;
    font-weight: 800;
}
.experience-text h5{
    font-size: 15px;
    padding: 4px;
    color: #fff;
    font-family: 'Add light italic';
    font-style: italic;
    font-weight: 800;
    letter-spacing: 4px;
    line-height: 36px;
}
.expe-text{
    display: flex;
    width: 100%;
    background-color: #f8ebcf;
    margin-bottom: 15%;
    text-align: justify;
    font-size: 14px;
    font-family: 'add light';
    line-height: 28px;
    letter-spacing: 1.12px;   
}
.expe-text p{
    color: #686868;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px 60px;
    padding: 30px 0;
    width: 100%;
}
.e-text{
    padding: 5% 10%;
    width: 60%;
}

.img{
    width: 40%;
    padding-bottom: -50%;
}
.expe-text .img img{
    width: 70%;
    height: 100%;
    border: 12px solid #fff;
    margin-top: 10%;
    margin-bottom: -50%;
}


@media only screen and (max-width: 850px) {
    .overlay{
        background-color: #fff;
        display: inline-flex;
        width: 100%;
        padding: 5% 40px ;
    }
    
    .left{
        width: 40%;
        margin-right: -3%;
        height: 36vh;
    }
    
    .left img{
     float: center;   
     width:100%;
     height: 36vh;
    }
    
    .right{
        width: 60%;
        height: 36vh;
        margin-top: 5%;
        padding: 5% 30px ;
    }
    
    .h1{
        padding: 10px 0;
        letter-spacing: 4px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
        color: #8E3200;
    }
    
    .right .p{
        text-align: justify;
        font-size: 14px;
        letter-spacing: 1.12px;
        line-height: 20.2px;
        color: #686868;
        font-family: 'Times New Roman', Times, serif;
    }

    .experience-text{
        text-align: end;
        text-transform: capitalize;
        font-size: 13px;
        padding-right: 20px;
        padding-top: 150px;
        padding-bottom: 40px;
        border: 20px solid #fff;
        background: rgb(0, 0, 0, .4);
    }
    .experience-text p{
        font-size: 16px;
        text-transform: uppercase;
        padding: 5px;
        letter-spacing: 4px;
        line-height: 24px;
    }
    .experience-text h5{
        font-size: 16px;
        padding: 4px;
        letter-spacing: 4px;
        line-height: 36px;
    }
    .expe-text{
        display: flex;
        width: 100%;
        margin-bottom: 0;
    }
    .expe-text p{
        color: #686868;
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
        margin: 0px 30px;
        padding: 15px 0;
        width: 100%;
        line-height: 16px;
    }
    .e-text{
        padding: 5% 10%;
        width: 60%;
    }
    
    .img{
        width: 50vw;
        height: 35vh;
        z-index: 99;
        margin-bottom: -5% !important;
    }
    .expe-text .img img{
        width: 70%;
        height: 100%;
        border: 12px solid #fff;
        margin-top: 10%;
        margin-bottom: -50%;
    }
    
  }

  @media only screen and (max-width: 500px) {
    .overlay{
        background-color: #fff;
        display: grid;
        width: 100%;
        padding: 50px 5% ;
        /* display: block; */
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        /* optional */
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    
    .right{
        width: 100%;
        height: 60vh;
        padding: 20% 2%;
    }

    .left{
        width: 100%;
        margin: 0 0;
        height: 45vh;
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
    
    .left img{
     float: center;   
     width:100%;
     height: 100%;
    }
    
    .h1{
        padding: 10px 0;
        letter-spacing: 4px;
        line-height: 18px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
    }
    
    .right .p{
        text-align: justify;
        font-size: 12px;
        letter-spacing: 1.12px;
        line-height: 20.2px;
        color: #686868;
        padding: 5px 20px;
        font-family: 'Times New Roman', Times, serif;
    }
   
    .experience-text{
        text-align: center;
        text-transform: capitalize;
        font-size: 20px;
        padding: 60px 20px;
        border: 10px solid #fff !important;
    }

    .experience-text p{
        text-transform: uppercase;
        padding: 10px;
        font-family: 'Add light italic';
        letter-spacing: 4px;
        line-height: 24px;
    }
    .experience-text h5{
        font-size: 15px;
        padding: 4px;
        font-family: 'Add light italic';
        letter-spacing: 4px;
        line-height: 36px;
    }
    .expe-text{
        display: grid;
        width: 100%;
    }
    .expe-text p{
        color: #686868;
        font-size: 13px;
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
        padding: 15px 0;
        width: 100%;
    }
    .e-text{
        padding: 5% 5%;
        width: 100%;
    }
    
    .img{
        width: 100%;
        height: 50vh;
        padding: 0 5%;
    }
    .expe-text .img img{
        width: 100%;
        height: 100%;
        border: 12px solid #fff;
        margin-top: 0;
        margin-bottom: 0;
    }
    
 }

