<div class="container-full">
    <app-navbar2></app-navbar2>
    <div class="experience-text">
        <p>the experience</p>
        <h5>"when wedding cake artistry Collides with the world of luxury."</h5>
    </div>
        <div class="expe-text">
            <div class="e-text">
                <p>Offering an exclusively curated experience for each client, SweetArt Luxury Designs unravels the layers of your story, sculpting a masterpiece that could only ever be yours. With an emphasis on aesthetics and exceptional service, Jane has worked at some of the world's most prestigious venues to create wedding cakes that are out of this world.</p>
                <p>Jane builds a relationship with each and every client to take a vision and transform it into something real, something tangible and something spectacular. Her designs encompass all the senses, finessed down to every detail, delving beyond the boundaries of wedding cake artistry. </p>
            </div>
            <div class="img">
                <img src="https://as2.ftcdn.net/v2/jpg/02/02/99/97/1000_F_202999764_1GPQpAQBqaoyaffWiztZ2GNmqCG22FOu.jpg" alt="cake images">
            </div>
        </div>
        <div class="overlay">
            <div class="left">
                <img src="https://img.freepik.com/free-photo/beautiful-wedding-cake-decorated-with-white-roses-white-wooden-background_24972-177.jpg?w=740&t=st=1676903048~exp=1676903648~hmac=41c4b33fb3ed12f2274c5be20e83c5d97fddc83f8648c082068d93753e3ce1e8" alt="">
            </div>
            <div class="right">
                <p class="h1">investment</p>
                <p class="p">Made for clients who want a visually spectacular wedding cake that has been designed around their distinctive style. Book an initial consultation to enjoy your first taste of SweetArt Luxury Cake Design, where you can discover the menu and discuss your visions. After a tasting and design consultation, Jane provides couples with a bespoke proposal detailing the creation and design of your wedding cake. Each wedding cake is hand-delivered within Kenya and East Africa. 
                    Cakes start from 72,500.00 for 3 tiers.</p>
            </div>
        </div>
    <app-enquiry-button></app-enquiry-button>
    <app-instagram-content></app-instagram-content>
</div>

<app-footer></app-footer>