.contt{
    /* background-image: url(https://as1.ftcdn.net/v2/jpg/01/31/31/96/1000_F_131319676_GlYtzmVblDbz5nbP2NiZrfrj6d3WOsgV.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    border: 25px solid #fff;
    background-color: none;
    display: block;

}
.experience-text{
    text-transform: capitalize;
    font-size: 16px;
    height:  35vh;
    /* padding: 130px 0; */
    border: 20px;
    text-align: right;
    padding-top: 12%;
}
.experience-text p{
    margin-right: 10%;
    font-family: 'Add light italic';
    letter-spacing: 4px;
    font-size: 30px;
    color: #3d210a; 
    line-height: 20px;
}

.container-full {
    width:100%;
}
.products{
    display: block;
    background: #fff;
    padding: 3% 0;
}
.product-details{
    display: flex;
 

}

.product-image{
    padding: 0 0;
    margin-left: 10%;
}

.product-image img{
    width: 40vw;
    height: 80vh;
}

.product-price{
    margin-left: 15%;
    padding-top: 30px;
}

.product-price .name{
    font-weight: 900;
}
.product-price p{
    font-family: add light;
    font-size: 16px;
    line-height: 28.8px;
    letter-spacing: 1.28px;
}

.price {
display: flex;
}

.span{
    color: black;
    margin: 2% 20px;
    /* width:80px; */
}
.price .strikethrough{
    text-decoration: line-through;
    color: #9f9f9f;
}
.product-price .category{
    padding: 5px 0;
}

.btn-buy{
    padding: 5px 0;
}

.btn-buy button{
    border: 1px solid transparent;
    padding: 10px 70px;
    background-color: rgb(223, 186, 193);
    font-size: 16px;
    font-family: 'add light';
    line-height: 28.8px;
    letter-spacing: 0.5px;  
}

.category #category-style{
    color: #9f9f9f;
}

.product-description{
    padding: 5% 0;
    text-align: center;
}

.product-description .heading{
    font-family: add light;
    font-size: 16px;
    line-height: 28.8px;
    letter-spacing: 1.28px;
    font-weight: 900;
}

.product-description .description-1{
    padding: 0 8%;
    font-family: add light;
    font-size: 16px;
    line-height: 28.8px;
    letter-spacing: 1.28px;
    text-align:center;
}

.line-1{
    padding: 10px;
}