<div class="top-background-section">
  <div class="top-logo-image">
    <img src="src\assets\images\home-page\sweetart-logo.jpg" alt="sweetart-logo">
  </div>
  <div class="top-text">
    <h2>SweetArt Luxury Cakes</h2>
    <p class="p">Cakes Design</p>
    <p>Luxury Cake Design In Nairobi</p>
  </div>
    
</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<app-shipping></app-shipping>

<app-categories></app-categories>

<app-top-deals></app-top-deals>

<section class="category">
  <div class="cat">
      <div class="image">
          <img src="https://img.freepik.com/premium-photo/side-view-laptop-pc-with-color-light-dark-technology-gaming-concept_37129-945.jpg?w=996" alt="">
          <div class="background">
              <div class="para">
                  
              </div>
          </div>
      </div>
      <div class="name">
        <p class="top">Best Seller Products</p>
        <p class="mid">PC & Docking Station</p>
        <p class="bottom">Limited Time: Online Only!</p>
      </div>
  </div>
  <div class="cat">
    <div class="image">
        <img src="https://img.freepik.com/premium-photo/home-appliances-gas-cooker-tv-cinema-refrigerator-air-conditioner-microwave_505080-1032.jpg?w=826" alt="">
        <div class="background">
            <div class="para">
                
            </div>
        </div>
    </div>
    <div class="name">
      <p class="top">Featured Products</p>
      <p class="mid">Home Appliancies</p>
      <p class="bottom">Free Shipping All Order Over Kes 100k</p>
    </div>
  </div>
</section>

<app-top-selling></app-top-selling>
