.top-background-section{
  height: 100vh;
  background-image: url('https://img.freepik.com/premium-photo/lovely-wedding-cake-standing-among-candy-bar-sweet-table-banquet-table-holiday-food-sweet-festive-table_199683-540.jpg?w=826');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}
.top-logo-image{
  padding-left: 45%;

}
.top-logo-image img {
  padding-bottom: 5px;
  margin-top: 170px;
  width: 20%;
  height: 20%;
}
.top-text{
  color: #fff;
  justify-content: center;
  text-align: center;
}
.top-text h2{
  font-size: 30px;
  padding-bottom: 10px;
}
.p{
  font-size: 25px;
  padding-bottom: 45px;
}
.top-text p{
  font-size: x-large;
}