<div class="container-full">
  <div class="top-background-section">
    <div class="rgba">
      <app-navbar></app-navbar>

      <div class="top-logo-image">
        <img src="../../../assets/images/home-page/black_and_brown_SAlogo-removebg-preview.png">
      </div>
    
      <div class="top-text">
        <h1>Luxury Cake Design In Nairobi</h1>
      </div>
    </div>
      
  </div>
  <div class="exquisite">
    <div class="header-ps">
      <p class="ex-cakes">exquisite wedding cakes and the promise of personalised luxury</p>
      <p class="expect">expect the extraordinary</p>
    </div>
    <div class="carousel">
     <div class="images"> 
      <div class="slideshow-container">
  
        <div class="mySlides fade">
          <img src="../../../assets/images/home-page/SA_Slide3.jpg">
        </div>
        
        <div class="mySlides fade">
          <img src="../../../assets/images/home-page/SA_Slide2.jpg">
        </div>
        
        <div class="mySlides fade">
          <img src="../../../assets/images/home-page/SA_Slide1.jpg">
        </div>
      </div>
      <br>
  
      <div style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
      </div>
    </div>
  
      <div class="text">
        <div class="param">
          <p>Hayley Elizabeth Cake Design is an award-winning wedding cake studio based on the Dorset & Hampshire borders, with a focus on high-end design and a seamless experience for every client. Renowned for her expertise in sugar flower creation and outstanding service, Hayley has carved a reputation within the world of luxury. A fusion of decadent designs and indulgent flavours, her work evokes an array of emotions while unlocking the artistry behind wedding cakes. </p>
        </div>
        <div class="more"> 
          <a href="" class="btn btn-button">Find Out More</a>
        </div>
      </div>
    </div>

    <div class="mid-background-section">
      <div class="topper">
        <div class="layout">
          <div class="brand-text">
            <p class="asseen">As Seen in</p>
          </div>
          <div class="brands">
              <img src="https://img.freepik.com/free-vector/flat-design-teamwork-logo-design-template_23-2149509998.jpg?w=740&t=st=1677675471~exp=1677676071~hmac=efa7e68570b230e5877273d53793317ce2f471e3ad5e7e213f46cee2f77b77b4" alt="brand-image">
              <img src="https://img.freepik.com/free-vector/flat-design-teamwork-logo-design-template_23-2149509992.jpg?w=740&t=st=1677675531~exp=1677676131~hmac=52ae91ea4c154363297865343e2ff0d468e2bf0ced34222d0df6f7106f809052" alt="brand-image">
              <img src="https://img.freepik.com/free-vector/flat-design-teamwork-logo-design-template_23-2149509998.jpg?w=740&t=st=1677675471~exp=1677676071~hmac=efa7e68570b230e5877273d53793317ce2f471e3ad5e7e213f46cee2f77b77b4" alt="brand image">
              <img src="https://img.freepik.com/free-vector/professional-speech-therapy-logo-template_23-2149221610.jpg?t=st=1677675471~exp=1677676071~hmac=c4adbf4495af4fd718fb53bdf7b8c8ffeb493017aeb954da420744f7f4801f6a" alt="brand image">
              <img class="loco" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBCqxJmOtbkGegLB3elsalvmHkqupMCQmXIA&usqp=CAU" alt="brand image">
          </div>
        </div>
      </div>

    <div class="mid-text">
      <p>"perfect is an understatement"</p>
      <p class="mid-p">~J & S </p>
    </div>
    
      <div class="more-info-images">
        <div class="image1">
          <img src="../../../assets/images/home-page/SA_viewgallery2.jpg">

          <div class="buttonz">
            <a href="" class="btn-btn">View the Gallery</a>
          </div>
          
        </div>
        
        <div class="image1">
          <img src="../../../assets/images/home-page/SA_meetHailey.jpg">
          <div class="buttonz">
            <a href="" class="btn-btn">Meet Harley</a>
          </div>
        </div>
        
        <div class="image1">
        <img src="../../../assets/images/home-page/SA_viewgallery.jpg">
        <div class="buttonz">
          <a href="" class="btn-btn">View the Flavours</a>
        </div>
        </div>
      </div>
    </div>
</div>
<app-instagram-content></app-instagram-content>
</div>

<app-footer></app-footer>
 
