.instagram-images{
    background-color: #f5f0ef;
    /* background-color: red; */
  }
  .insta{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    padding: 30px 30px;
  }
  .insta-images{
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    margin: 0 0;
  }
  .insta-images img{
    width: 25vw;
    height: 30vh;
    padding: 4px;
  }