<section>
    <div class="cat" *ngFor="let cat of categories">
        <a [routerLink]="['/shop/category-products/',cat.id]">
            <div class="image">
                <img src="{{cat.image}}" alt="">
                <div class="background">
                    <div class="para">
                        
                    </div>
                </div>
            </div>
        </a>
    <p class="name"> <a [routerLink]="['/shop/category-products/',cat.id]">{{cat.name}}</a></p>
    </div>
</section>