/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body,html{
    height: 100%;
    background-image: url('https://img.freepik.com/premium-photo/cake-dessert-chocolate-pie-sweets_471702-2571.jpg?w=996');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 850px) {
  body,html{
    height: auto;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
}