    <div class="contact-form">
        <div class="first-container">
            <div class="info-container">
                <div><img class="icon" />
                    <h3>Address</h3>
                    <p>P.O Box 35-01001,<br> KALIMONI</p>
                </div>
                <div> <img class="icon" />
                    <h3>Lets Talk</h3>
                    <p><a href="tel:+254724087213">0724087213</a></p>
                </div>
                <div><img class="icon" />
                    <h3>General Support</h3>
                    <p><a href="mailto:bonjoeectronics@gmail.com">bonjoeectronics@gmail.com</a></p>
                </div>
            </div>
        </div>
        <div class="second-container">
            <h2>Send Us A Message</h2>
            <form>
                <div class="form-group"><label for="name-input">Tell us your name*</label><input id="name-input" type="text" placeholder="First name" required="required" /><input type="text" placeholder="Last name" required="required" /></div>
                <div class="form-group"><label for="email-input">Enter your email*</label><input id="email-input" type="text" placeholder="Eg. example@email.com" required="required" /></div>
                <div class="form-group"><label for="phone-input">Enter phone number*</label><input id="phone-input" type="text" placeholder="Eg. +1 800 000000" required="required" /></div>
                <div class="form-group"><label for="message-textarea">Message</label><textarea id="message-textarea" placeholder="Write us a message"></textarea></div><button>Send message</button>
            </form>
        </div>
    </div>